<?xml version="1.0" ?>
<settings version="1">
	<section id="script.module.inputstreamhelper">
		<category id="expert" label="30900" help=""> <!-- Expert -->
			<group id="1">
				<setting id="last_modified" type="string" help="">
					<level>0</level>
					<default>0.0</default>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="last_check" type="string" help="">
					<level>0</level>
					<default>0.0</default>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="update_declined_at" type="string" help="">
					<level>0</level>
					<default>0.0</default>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="version" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="info" type="action" label="30901" help="30902">
					<level>0</level>
					<data>RunScript(script.module.inputstreamhelper, info)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action"/>
				</setting>
			</group>
			<group id="2">
				<setting id="update_frequency" type="integer" label="30905" help="30906">
					<level>0</level>
					<default>31</default>
					<constraints>
						<minimum>1</minimum>
						<step>3</step>
						<maximum>90</maximum>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="disabled">false</condition>
						</dependency>
						<dependency type="visible">
    						<condition on="property" name="InfoBool">![System.Platform.Android|System.Platform.webOS|String.StartsWith(System.BuildVersion,17)]</condition>
						</dependency>
					</dependencies>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="temp_path" type="path" label="30907" help="30908">
					<level>0</level>
					<default>special://masterprofile/addon_data/script.module.inputstreamhelper</default>
					<constraints>
						<sources>
							<source/>
						</sources>
					</constraints>
					<dependencies>
						<dependency type="visible">
    						<condition on="property" name="InfoBool">![System.Platform.Android|System.Platform.webOS|String.StartsWith(System.BuildVersion,17)]</condition>
						</dependency>
					</dependencies>
					<control type="button" format="path">
						<heading>30907</heading>
					</control>
				</setting>
				<setting id="backups" type="integer" label="30913" help="30914">
					<level>0</level>
					<default>4</default>
					<constraints>
						<minimum>0</minimum>
						<step>1</step>
						<maximum>20</maximum>
					</constraints>
					<dependencies>
						<dependency type="visible">
    						<condition on="property" name="InfoBool">![System.Platform.Android|System.Platform.webOS|String.StartsWith(System.BuildVersion,17)]</condition>
						</dependency>
					</dependencies>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
			<group id="3">
				<setting id="widevine_install" type="action" label="30909" help="30910">
					<level>0</level>
					<data>RunScript(script.module.inputstreamhelper, widevine_install, True)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">Integer.IsGreaterOrEqual(System.BuildVersionCode,18)</condition>
								<condition on="property" name="InfoBool">System.HasAddon(inputstream.adaptive)|System.AddonIsEnabled(inputstream.adaptive)</condition>
							</and>
						</dependency>
						<dependency type="visible">
    						<condition on="property" name="InfoBool">![System.Platform.Android|System.Platform.webOS|String.StartsWith(System.BuildVersion,17)]</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action"/>
				</setting>
				<setting id="widevine_remove" type="action" label="30911" help="30912">
					<level>0</level>
					<data>RunScript(script.module.inputstreamhelper, widevine_remove)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">Integer.IsGreaterOrEqual(System.BuildVersionCode,18)</condition>
								<condition on="property" name="InfoBool">System.HasAddon(inputstream.adaptive)|System.AddonIsEnabled(inputstream.adaptive)</condition>
							</and>
						</dependency>
						<dependency type="visible">
    						<condition on="property" name="InfoBool">![System.Platform.Android|System.Platform.webOS|String.StartsWith(System.BuildVersion,17)]</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action"/>
				</setting>
				<setting id="rollback" type="action" label="30915" help="30916">
					<level>0</level>
					<data>RunScript(script.module.inputstreamhelper, rollback)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">Integer.IsGreaterOrEqual(System.BuildVersionCode,18)</condition>
								<condition on="property" name="InfoBool">System.HasAddon(inputstream.adaptive)|System.AddonIsEnabled(inputstream.adaptive)</condition>
							</and>
						</dependency>
						<dependency type="visible">
    						<condition on="property" name="InfoBool">![System.Platform.Android|System.Platform.webOS|String.StartsWith(System.BuildVersion,17)]</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action"/>
				</setting>
			</group>
		</category>
		<category id="debug" label="30950" help=""> <!-- Debug -->
			<group id="1">
				<setting id="disabled" type="boolean" label="30903" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="disabled_warning" type="string" label="30904" help=""> <!-- disabled_warning -->
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30904</heading>
					</control>
				</setting>
				<setting id="widevine_install_from" type="action" label="30955" help="30956">
					<level>0</level>
					<data>RunScript(script.module.inputstreamhelper, widevine_install_from)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">Integer.IsGreaterOrEqual(System.BuildVersionCode,18)</condition>
								<condition on="property" name="InfoBool">System.HasAddon(inputstream.adaptive)|System.AddonIsEnabled(inputstream.adaptive)</condition>
							</and>
						</dependency>
						<dependency type="visible">
    						<condition on="property" name="InfoBool">![System.Platform.Android|System.Platform.webOS|String.StartsWith(System.BuildVersion,17)]</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action"/>
				</setting>
				<setting id="image_url" type="urlencodedstring" label="30953" help="30954" parent="">
					<level>0</level>
					<default>https://dl.google.com/dl/edgedl/chromeos/recovery/chromeos_16328.65.0_jacuzzi_recovery_stable-channel_JacuzziMPKeys-v19.bin.zip</default>
					<control type="edit" format="urlencoded">
						<heading>30953</heading>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>
