<?xml version="1.0"?>
<settings version="1">
  <section id="service.xbmcbackup">
    <category id="general" label="30011" help="">
      <group id="1" label="">
        <!-- compress backups -->
        <setting id="compress_backups" type="boolean" label="30087" help="">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <!-- zip folder staging path -->
        <setting id="zip_temp_path" type="string" label="30152" help="30153">
	        <level>3</level>
	          <default>special://temp</default>
	          <constraints>
		          <allowempty>true</allowempty>
	          </constraints>
            <dependencies>
              <dependency type="visible" setting="compress_backups">true</dependency>
            </dependencies>
	          <control type="edit" format="string">
		          <heading>30152</heading>
	          </control>
        </setting>
        <!-- backup rotation -->
        <setting id="backup_rotation" type="integer" label="30026" help="">
          <level>0</level>
          <default>0</default>
          <control type="edit" format="integer">
            <heading>30026</heading>
          </control>
        </setting>
        <!-- prompt to restore settings -->
        <setting id="always_prompt_restore_settings" type="boolean" label="30148" help="30154">
          <level>2</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <!-- progress mode -->
        <setting id="progress_mode" type="integer" label="30022" help="">
          <level>1</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30082">0</option>
              <option label="30083">1</option>
              <option label="30084">2</option>
            </options>
          </constraints>
          <control type="spinner" format="string" />
        </setting>
        <!-- backup suffix -->
        <setting id="backup_suffix" type="string" label="30160" help="30161">
          <level>2</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30024</heading>
          </control>
        </setting>
      </group>
      <group id="2" label="">
        <!-- verbose logging -->
        <setting id="verbose_logging" type="boolean" label="30151" help="30155">
          <level>3</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <!-- upgrade notes not visible to users -->
        <setting id="upgrade_notes" type="integer" label="upgrade_notes" help="">
          <level>4</level>
          <default>1</default>
          <visible>false</visible>
          <control type="edit" format="integer">
            <heading>upgrade_notes</heading>
          </control>
        </setting>
      </group>
    </category>
    <category id="backup_path" label="30048" help="">
      <group id="1" label="">
        <!-- backup repo type -->
        <setting id="remote_selection" type="integer" label="30025" help="">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30018">0</option>
              <option label="30019">1</option>
              <option label="30027">2</option>
            </options>
          </constraints>
          <control type="spinner" format="string" />
        </setting>
        <!-- folder select path -->
        <setting id="remote_path" type="path" label="30020" help="">
	        <level>0</level>
	          <default/>
	          <constraints>
		          <allowempty>true</allowempty>
              <sources>
                <source>files</source>
              </sources>
	          </constraints>
            <dependencies>
              <dependency type="visible" setting="remote_selection">0</dependency>
            </dependencies>
	          <control type="button" format="path">
		          <heading>30020</heading>
	          </control>
        </setting>
        <!-- type remote path -->
        <setting id="remote_path_2" type="string" label="30024" help="">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="remote_selection">1</dependency>
          </dependencies>
          <control type="edit" format="string">
            <heading>30024</heading>
          </control>
        </setting>
        <!-- dropbox key and secret -->
        <setting id="dropbox_key" type="string" label="30028" help="30156">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="remote_selection">2</dependency>
          </dependencies>
          <control type="edit" format="string">
            <heading>30028</heading>
          </control>
        </setting>
        <setting id="dropbox_secret" type="string" label="30029" help="30156">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="remote_selection">2</dependency>
          </dependencies>
          <control type="edit" format="string">
            <heading>30029</heading>
          </control>
        </setting>
        <!-- authorize dropbox -->
        <setting id="auth_dropbox_button" type="action" label="30104" help="">
          <level>0</level>
          <default />
          <dependencies>
            <dependency type="visible" setting="remote_selection">2</dependency>
          </dependencies>
          <control type="button" format="action">
            <data>RunScript(script.xbmcbackup,mode=launcher,action=authorize_cloud,provider=dropbox)</data>
          </control>
        </setting>
      </group>
      <group id="2" label="">
        <!-- remove auth button -->
        <setting id="remove_auth_button" type="action" label="30093" help="">
          <level>2</level>
          <default />
          <dependencies>
            <dependency type="visible" setting="remote_selection">2</dependency>
          </dependencies>
          <control type="button" format="action">
            <data>RunScript(script.xbmcbackup,mode=launcher,action=remove_auth)</data>
          </control>
        </setting>
      </group>
    </category>
    <category id="selection" label="30012">
      <group id="1" label="">
        <!-- selection type (simple/advanced) -->
        <setting id="backup_selection_type" type="integer" label="30023" help="30157">
          <level>2</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30014">0</option>
              <option label="30015">1</option>
            </options>
          </constraints>
          <control type="spinner" format="string" />
        </setting>
        <!-- simple selection settings -->
        <setting id="backup_addon_data" type="boolean" label="30031" help="">
          <level>0</level>
          <default>false</default>
          <dependencies>
            <dependency type="visible" setting="backup_selection_type">0</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
        <setting id="backup_config" type="boolean" label="30035" help="">
          <level>0</level>
          <default>true</default>
          <dependencies>
            <dependency type="visible" setting="backup_selection_type">0</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
        <setting id="backup_database" type="boolean" label="30032" help="">
          <level>0</level>
          <default>true</default>
          <dependencies>
            <dependency type="visible" setting="backup_selection_type">0</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
        <setting id="backup_game_saves" type="boolean" label="30133" help="">
          <level>0</level>
          <default>false</default>
          <dependencies>
            <dependency type="visible" setting="backup_selection_type">0</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
        <setting id="backup_playlists" type="boolean" label="30033" help="">
          <level>0</level>
          <default>true</default>
          <dependencies>
            <dependency type="visible" setting="backup_selection_type">0</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
        <setting id="backup_profiles" type="boolean" label="30080" help="">
          <level>0</level>
          <default>false</default>
          <dependencies>
            <dependency type="visible" setting="backup_selection_type">0</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
        <setting id="backup_thumbnails" type="boolean" label="30034" help="">
          <level>0</level>
          <default>true</default>
          <dependencies>
            <dependency type="visible" setting="backup_selection_type">0</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
        <setting id="backup_addons" type="boolean" label="30030" help="">
          <level>0</level>
          <default>true</default>
          <dependencies>
            <dependency type="visible" setting="backup_selection_type">0</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
        <!-- advanced editor options -->
        <setting id="advanced_button" type="action" label="30125" help="">
          <level>2</level>
          <default />
          <dependencies>
            <dependency type="visible" setting="backup_selection_type">1</dependency>
          </dependencies>
          <control type="button" format="action">
            <data>RunScript(script.xbmcbackup,mode=launcher,action=advanced_editor)</data>
          </control>
        </setting>
        <setting id="advanced_defaults" type="action" label="30139" help="">
          <level>2</level>
          <default />
          <dependencies>
            <dependency type="visible" setting="backup_selection_type">1</dependency>
          </dependencies>
          <control type="button" format="action">
            <data>RunScript(script.xbmcbackup,mode=launcher,action=advanced_copy_config)</data>
          </control>
        </setting>
      </group>
    </category>
    <category id="scheduling" label="30013">
      <group id="1" label="">
        <!-- enable scheduler -->
        <setting id="enable_scheduler" type="boolean" label="30060" help="30158">
          <level>0</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <!-- schedule interval -->
        <setting id="schedule_interval" type="integer" label="30061" help="">
          <level>0</level>
          <default>1</default>
          <constraints>
            <options>
              <option label="30079">0</option>
              <option label="30072">1</option>
              <option label="30073">2</option>
              <option label="30074">3</option>
              <option label="30075">4</option>
            </options>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="enable_scheduler">true</dependency>
          </dependencies>
          <control type="spinner" format="string"/>
        </setting>
        <!-- hour of the day -->
        <setting id="schedule_time" type="string" label="30062" help="">
	        <level>0</level>
	        <default>00:00</default>
	        <constraints>
		        <options sort="ascending">
			        <option>00:00</option>
			        <option>01:00</option>
			        <option>02:00</option>
			        <option>03:00</option>
              <option>04:00</option>
              <option>05:00</option>
              <option>06:00</option>
              <option>07:00</option>
              <option>08:00</option>
              <option>09:00</option>
              <option>10:00</option>
              <option>11:00</option>
              <option>12:00</option>
              <option>13:00</option>
              <option>14:00</option>
              <option>15:00</option>
              <option>16:00</option>
              <option>17:00</option>
              <option>18:00</option>
              <option>19:00</option>
              <option>20:00</option>
              <option>21:00</option>
              <option>22:00</option>
              <option>23:00</option>
		        </options>
		        <allowempty>false</allowempty>
	        </constraints>
          <dependencies>
            <dependency type="visible" setting="schedule_interval" operator="!is">4</dependency>
            <dependency type="enable" setting="enable_scheduler">true</dependency>
          </dependencies>
	        <control type="spinner" format="string"/>
        </setting>
        <!-- day of the week -->
        <setting id="day_of_week" type="integer" label="30063" help="">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30065">0</option>
              <option label="30066">1</option>
              <option label="30067">2</option>
              <option label="30068">3</option>
              <option label="30069">4</option>
              <option label="30070">5</option>
              <option label="30071">6</option>
            </options>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="schedule_interval">2</dependency>
            <dependency type="enable" setting="enable_scheduler">true</dependency>
          </dependencies>
          <control type="spinner" format="string"/>
        </setting>
        <!-- cron schedule -->
        <setting id="cron_schedule" type="string" label="30064" help="">
          <level>0</level>
          <default>0 0 * * *</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="schedule_interval">4</dependency>
            <dependency type="enable" setting="enable_scheduler">true</dependency>
          </dependencies>
          <control type="edit" format="string">
            <heading>30064</heading>
          </control>
        </setting>
        <!-- run if schedule missed -->
        <setting id="schedule_miss" type="boolean" label="30109" help="">
          <level>1</level>
          <default>false</default>
          <dependencies>
            <dependency type="enable" setting="enable_scheduler">true</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
        <!-- shutdown on complete -->
        <setting id="cron_shutdown" type="boolean" label="30076" help="">
          <level>1</level>
          <default>false</default>
          <dependencies>
            <dependency type="enable" setting="enable_scheduler">true</dependency>
          </dependencies>
          <control type="toggle" />
        </setting>
      </group>
    </category>
  </section>
</settings>
