<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="last_run_ver" type="text" default="" visible="false"/>

    <category label="31000">
        <setting label="30001" type="lsep"/> 
        <setting label="32001" id="dev_xbmc_start_bool" type="bool" default="false"/>
        <setting label="32101" id="dev_xbmc_start" type="text" default="" subsetting="true" visible="eq(-1,true)"/>
        <setting label="32102" id="dev_xbmc_start_perc" type="slider" range="0,5,100" option="int" default="25" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32002" id="dev_xbmc_quit_bool" type="bool" default="false"/>
        <setting label="32101" id="dev_xbmc_quit" type="text" default="" subsetting="true" visible="eq(-1,true)"/>
        <setting label="32102" id="dev_xbmc_quit_perc" type="slider" range="0,5,100" option="int" default="25" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32006" id="dev_xbmc_sson_bool" type="bool" default="false"/>
        <setting label="32101" id="dev_xbmc_sson" type="text" default="" subsetting="true" visible="eq(-1,true)"/>
        <setting label="32102" id="dev_xbmc_sson_perc" type="slider" range="0,5,100" option="int" default="25" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32007" id="dev_xbmc_ssoff_bool" type="bool" default="false"/>
        <setting label="32101" id="dev_xbmc_ssoff" type="text" default="" subsetting="true" visible="eq(-1,true)"/>
        <setting label="32102" id="dev_xbmc_ssoff_perc" type="slider" range="0,5,100" option="int" default="25" subsetting="true" visible="eq(-2,true)"/>

        <setting label="30002" type="lsep"/>
        <setting label="32001" id="dev_video_start_bool" type="bool" default="false"/>
        <setting label="32101" id="dev_video_start" type="text" default="" subsetting="true" visible="eq(-1,true)"/>
        <setting label="32102" id="dev_video_start_perc" type="slider" range="0,5,100" option="int" default="25" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32003" id="dev_video_end_bool" type="bool" default="false"/>
        <setting label="32101" id="dev_video_end" type="text" default="" subsetting="true" visible="eq(-1,true)"/>
        <setting label="32102" id="dev_video_end_perc" type="slider" range="0,5,100" option="int" default="25" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32004" id="dev_video_pause_bool" type="bool" default="false"/>
        <setting label="32101" id="dev_video_pause" type="text" default="" subsetting="true" visible="eq(-1,true)"/>
        <setting label="32102" id="dev_video_pause_perc" type="slider" range="0,5,100" option="int" default="25" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32005" id="dev_video_resume_bool" type="bool" default="false"/>
        <setting label="32101" id="dev_video_resume" type="text" default="" subsetting="true" visible="eq(-1,true)"/>
        <setting label="32102" id="dev_video_resume_perc" type="slider" range="0,5,100" option="int" default="25" subsetting="true" visible="eq(-2,true)"/>
        
        <setting label="30003" type="lsep"/>
        <setting label="32001" id="dev_audio_start_bool" type="bool" default="false"/>
        <setting label="32101" id="dev_audio_start" type="text" default="" subsetting="true" visible="eq(-1,true)"/>
        <setting label="32102" id="dev_audio_start_perc" type="slider" range="0,5,100" option="int" default="25" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32003" id="dev_audio_end_bool" type="bool" default="false"/>
        <setting label="32101" id="dev_audio_end" type="text" default="" subsetting="true" visible="eq(-1,true)"/>
        <setting label="32102" id="dev_audio_end_perc" type="slider" range="0,5,100" option="int" default="25" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32004" id="dev_audio_pause_bool" type="bool" default="false"/>
        <setting label="32101" id="dev_audio_pause" type="text" default="" subsetting="true" visible="eq(-1,true)"/>
        <setting label="32102" id="dev_audio_pause_perc" type="slider" range="0,5,100" option="int" default="25" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32005" id="dev_audio_resume_bool" type="bool" default="false"/>
        <setting label="32101" id="dev_audio_resume" type="text" default="" subsetting="true" visible="eq(-1,true)"/>
        <setting label="32102" id="dev_audio_resume_perc" type="slider" range="0,5,100" option="int" default="25" subsetting="true" visible="eq(-2,true)"/>        
    </category>

    <category label="31001">
        <setting label="30001" type="lsep"/> 
        <setting label="32001" id="prog_xbmc_start_bool" type="bool" default="false"/>
        <setting label="32201" id="prog_xbmc_start" type="text" default=""  subsetting="true" visible="eq(-1,true)"/>
        <setting label="32202" id="prog_xbmc_start_act" type="labelenum" values="Run|Run Then|Run Else" default="Run" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32002" id="prog_xbmc_quit_bool" type="bool" default="false"/>
        <setting label="32201" id="prog_xbmc_quit" type="text" default=""  subsetting="true" visible="eq(-1,true)"/>
        <setting label="32202" id="prog_xbmc_quit_act" type="labelenum" values="Run|Run Then|Run Else" default="Run" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32006" id="prog_xbmc_sson_bool" type="bool" default="false"/>
        <setting label="32201" id="prog_xbmc_sson" type="text" default="" subsetting="true" visible="eq(-1,true)"/>
        <setting label="32202" id="prog_xbmc_sson_act" type="labelenum" values="Run|Run Then|Run Else" default="Run" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32007" id="prog_xbmc_ssoff_bool" type="bool" default="false"/>
        <setting label="32201" id="prog_xbmc_ssoff" type="text" default="" subsetting="true" visible="eq(-1,true)"/>
        <setting label="32202" id="prog_xbmc_ssoff_act" type="labelenum" values="Run|Run Then|Run Else" default="Run" subsetting="true" visible="eq(-2,true)"/>
        
        <setting label="30002" type="lsep"/>
        <setting label="32001" id="prog_video_start_bool" type="bool" default="false"/>
        <setting label="32201" id="prog_video_start" type="text" default=""  subsetting="true" visible="eq(-1,true)"/>
        <setting label="32202" id="prog_video_start_act" type="labelenum" values="Run|Run Then|Run Else" default="Run" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32003" id="prog_video_end_bool" type="bool" default="false"/>
        <setting label="32201" id="prog_video_end" type="text" default=""  subsetting="true" visible="eq(-1,true)"/>
        <setting label="32202" id="prog_video_end_act" type="labelenum" values="Run|Run Then|Run Else" default="Run" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32004" id="prog_video_pause_bool" type="bool" default="false"/>
        <setting label="32201" id="prog_video_pause" type="text" default=""  subsetting="true" visible="eq(-1,true)"/>
        <setting label="32202" id="prog_video_pause_act" type="labelenum" values="Run|Run Then|Run Else" default="Run" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32005" id="prog_video_resume_bool" type="bool" default="false"/>
        <setting label="32201" id="prog_video_resume" type="text" default=""  subsetting="true" visible="eq(-1,true)"/>
        <setting label="32202" id="prog_video_resume_act" type="labelenum" values="Run|Run Then|Run Else" default="Run" subsetting="true" visible="eq(-2,true)"/>
        
        <setting label="30003" type="lsep"/>
        <setting label="32001" id="prog_audio_start_bool" type="bool" default="false"/>
        <setting label="32201" id="prog_audio_start" type="text" default=""  subsetting="true" visible="eq(-1,true)"/>
        <setting label="32202" id="prog_audio_start_act" type="labelenum" values="Run|Run Then|Run Else" default="Run" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32003" id="prog_audio_end_bool" type="bool" default="false"/>
        <setting label="32201" id="prog_audio_end" type="text" default=""  subsetting="true" visible="eq(-1,true)"/>
        <setting label="32202" id="prog_audio_end_act" type="labelenum" values="Run|Run Then|Run Else" default="Run" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32004" id="prog_audio_pause_bool" type="bool" default="false"/>
        <setting label="32201" id="prog_audio_pause" type="text" default=""  subsetting="true" visible="eq(-1,true)"/>
        <setting label="32202" id="prog_audio_pause_act" type="labelenum" values="Run|Run Then|Run Else" default="Run" subsetting="true" visible="eq(-2,true)"/>
        <setting label="32005" id="prog_audio_resume_bool" type="bool" default="false"/>
        <setting label="32201" id="prog_audio_resume" type="text" default=""  subsetting="true" visible="eq(-1,true)"/>
        <setting label="32202" id="prog_audio_resume_act" type="labelenum" values="Run|Run Then|Run Else" default="Run" subsetting="true" visible="eq(-2,true)"/>
    </category>
</settings>