<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="32031" id="section_general">
        <setting type="sep" />
        <setting label="32032" type="lsep" />
        <setting type="sep" />
        <setting label="" type="lsep" />
        <setting label="32033" id="background" type="bool" default="false"/>
        <setting label="32034" id="notify" subsetting="true" type="bool"  default="false" enable="eq(-1,true)" visible="eq(-1,true)"/>
        <setting type="sep" />
        <setting label="32023" id="service_startup" type="bool" default="false"/>
        <setting label="32024" id="service_enable" type="bool" default="false"/>
        <setting label="32025" id="service_time" subsetting="true" type="labelenum" lvalues="32028|32027|32026"  default="24" enable="eq(-1,true)" visible="eq(-1,true)"/>
        <setting label="32029" type="text" subsetting="true" enable="false"/>
        <setting type="sep" />
    </category>

<!-- Plugin settings: Limit section -->
    <category label="32051" id="section_limit">
        <setting type="sep" />
        <setting label="32052" type="lsep" />
        <setting type="sep" />
        <setting label="32051" id="limit_artwork"           type="bool"     default="true"/>
        <setting label="32053" id="limit_extrafanart_max"   subsetting="true" type="slider"     enable="eq(-1,true)" visible="eq(-1,true)"          default="20"    range="5,5,100"  option="int" />
        <setting label="32054" id="limit_extrafanart_rating" subsetting="true" type="slider"    enable="eq(-2,true)" visible="eq(-2,true)"          default="5"     range="0,10"  option="int" />
        <setting label="32055" id="limit_language"          subsetting="true" type="bool"       enable="eq(-3,true)" visible="eq(-3,true)"          default="true" />
        <setting label="32056" id="limit_notext"            subsetting="true" type="bool"       enable="eq(-4,true)" visible="eq(-4,true)"          default="true" />
        <setting label="32057" id="limit_size_moviefanart"  subsetting="true" type="labelenum"  enable="eq(-5,true)" lvalues="32061|32060|32059"    default="720"   visible="eq(-5,true)" />
        <setting label="32058" id="limit_size_tvshowfanart" subsetting="true" type="labelenum"  enable="eq(-6,true)" lvalues="32061|32060|32059"    default="720"   visible="eq(-6,true)" />
     </category>



<!-- Plugin settings: Movie section -->
    <category label="32071" id="section_movie">
        <setting type="sep" />
        <setting label="32072" type="lsep" />
        <setting type="sep" />
        <setting label="32013" type="bool" id="movie_enable"                                               default="true" />
        <setting label="32128" type="bool" id="movie_poster"        subsetting="true" enable="eq(-1,true)" default="true" />
        <setting label="32121" type="bool" id="movie_fanart"        subsetting="true" enable="eq(-2,true)" default="true" />
        <setting label="32122" type="bool" id="movie_extrafanart"   subsetting="true" enable="eq(-3,true)" default="true" />
        <setting label="32131" type="bool" id="movie_extrathumbs"   subsetting="true" enable="eq(-4,true)" default="true" />
        <setting label="32126" type="bool" id="movie_logo"          subsetting="true" enable="eq(-5,true)" default="false" visible="false" />
        <setting label="32132" type="bool" id="movie_discart"       subsetting="true" enable="eq(-6,true)" default="false" visible="false" />
        <setting label="32133" type="bool" id="movie_defaultthumb"  subsetting="true" enable="eq(-7,true)" default="true" />
    </category>
    
<!-- Plugin settings: TV Show section -->
    <category label="32081" id="section_tvshow">
        <setting type="sep" />
        <setting label="32082" type="lsep" />
        <setting type="sep" />
        <setting label="32013" type="bool"      id="tvshow_enable"                                                      default="true" />
        <setting label="32128" type="bool"      id="tvshow_poster"              subsetting="true" enable="eq(-1,true)"  default="true" />
        <setting label="32129" type="bool"      id="tvshow_seasonposter"        subsetting="true" enable="false"        default="false" visible="false" />
        <setting label="32121" type="bool"      id="tvshow_fanart"              subsetting="true" enable="eq(-3,true)"  default="true" />
        <setting label="32122" type="bool"      id="tvshow_extrafanart"         subsetting="true" enable="eq(-4,true)"  default="true" />
        <setting label="32125" type="bool"      id="tvshow_clearart"            subsetting="true" enable="eq(-5,true)"  default="true" />
        <setting label="32127" type="bool"      id="tvshow_characterart"        subsetting="true" enable="eq(-6,true)"  default="false" />
        <setting label="32126" type="bool"      id="tvshow_logo"                subsetting="true" enable="eq(-7,true)"  default="true" />
        <setting label="32123" type="bool"      id="tvshow_showbanner"          subsetting="true" enable="eq(-8,true)"  default="true" />
        <setting label="32124" type="bool"      id="tvshow_seasonbanner"        subsetting="true" enable="false"        default="false" visible="false" />
        <setting label="32130" type="bool"      id="tvshow_thumb"               subsetting="true" enable="eq(-10,true)" default="true" />
        <setting label="32134" type="bool"      id="tvshow_seasonthumbs"        subsetting="true" enable="false"        default="false" visible="false" />
        <setting label="32133" type="bool"      id="tvshow_defaultthumb"        subsetting="true" enable="eq(-12,true)" default="true" />
        <setting label="32083" type="labelenum" id="tvshow_defaultthumb_type"   subsetting="true"  lvalues="32128|32123|32130" default="Poster" visible="eq(-13,true)" enable="eq(-1,true)"/>
    </category>
    
<!-- Plugin settings: Advanced section -->
    <category label="32101" id="section_advanced">
        <setting type="sep" />
        <setting label="32102" type="lsep" />
        <setting type="sep" />
        <setting label="32035" id="files_overwrite"         type="bool"     default="false"/>
        <setting type="sep" />
        <setting label="32036" id="centralize_enable"       type="bool"     default="false"/>
        <setting label="32038" id="centralfolder_movies"    type="folder"   default=""  subsetting="true"    source="auto" option="writeable" enable="eq(-1,true)" visible="eq(-1,true)"/>
        <setting label="32037" id="centralfolder_tvshows"   type="folder"   default=""  subsetting="true"    source="auto" option="writeable" enable="eq(-2,true)" visible="eq(-2,true)"/>
        <setting type="sep" />
        <setting label="32106" id="xbmc_caching_enabled"    type="bool"     default="false" enable="false"/>
    </category>
    
<!-- Plugin settings: Info section -->
    <category label="32181" id="section_info">
        <setting type="sep" />
        <setting label="32182" type="lsep" />
        <setting label="32183" type="lsep" subsetting= "true"/>
        <setting label="32184" type="lsep" subsetting= "true"/>
        <setting label="32185" type="lsep" subsetting= "true"/>
        <setting label="32186" type="lsep" subsetting= "true"/>
        <setting label="" type="sep" />
        <setting label="32187" type="lsep" />
        <setting label="32188" type="lsep" subsetting= "true"/>
        <setting label="32191" type="lsep" subsetting= "true"/>
        <setting label="32192" type="lsep"/>
        <setting label="" type="sep" />
        <setting label="32189" type="lsep" />
        <setting label="32190" type="lsep" subsetting= "true"/>
    </category>
</settings>
