<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32002">
		<setting id="audioBooksFolder" label="32005" type="folder"/>
		<setting id="ffmpegLocation" label="32015" type="file"/>
    	<setting id="markCompletedItems" label="32016" type="bool" default="true"/>
		<setting id="fallbackCoverImage" label="32014" type="image"/>
	</category>
	<category label="32007">
		<setting label="32008" type="action" action="RunScript($CWD/cleancovercache.py)"/>
		<setting label="32012" type="action" action="RunScript($CWD/deletedb.py)"/>
    	<setting label="32003" type="lsep"/>
    	<setting id="logEnabled" type="bool" label="32004" default="false"/>
	</category>
</settings>
