script.pseudotv/.git
script.module.xbmcswift/.git
script.extrafanartdownloader/.git
script.tvguide/.git
script.tvguide/.gitignore
script.tvguide/.idea
script.cdartmanager/.git
script.module.parsedom/.hg
script.common.plugin.cache/.hg
