<?xml version="1.0" encoding="utf-8"?>
<settings>
	<category label="30024">
		<setting label="30000" type="enum" id="type" default="0" lvalues="30002|30003|30004"/>
		<setting label="30001" type="folder" source="pictures" id="path" default="" enable="eq(-1,2)" subsetting="true"/>
		<setting type="sep"/>
		<setting label="30010" type="labelenum" id="time" default="10" values="2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|32|33|34|35|36|37|38|39|40|41|42|43|44|45|46|47|48|49|50|51|52|53|54|55|56|57|58|59|60"/>
		<setting label="30005" type="slider" id="level" range="0,1,100" option="percent" default="100"/>
		<setting label="30006" type="enum" id="effect" default="2" lvalues="30007|30008|30009"/>
	</category>
	<category label="30025">
		<setting label="30016" type="bool" id="random" default="true"/>
		<setting label="30026" type="bool" id="resume" default="false" enable="eq(-1,false)"/>
		<setting type="sep"/>
		<setting label="30029" type="bool" id="background" default="true" enable="eq(1,false)"/>
		<setting label="30011" type="bool" id="scale" default="false" enable="eq(-1,false)" />
		<setting type="sep"/>
		<setting label="30012" type="enum" id="label" default="0" lvalues="30013|30014|30015|30018"/>
		<setting label="30021" type="bool" id="date" default="false"/>
		<setting label="30022" type="bool" id="iptc" default="false"/>
		<setting label="30023" type="bool" id="music" default="false"/>
	</category>
</settings>
