<?xml version="1.0" ?>
<settings version="1">
	<section id="weather.ozweather">
		<category id="bom locations" label="32200" help="">
			<group id="1" label="32208">
				<setting id="Location1BOM" type="string" label="32202" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunScript(weather.ozweather,Location1)</data>
					</control>
				</setting>
				<setting id="Location1ClosestRadar" type="string" label="32211" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Location2BOM" type="string" label="32203" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="Location1BOM"/>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(weather.ozweather,Location2)</data>
					</control>
				</setting>
				<setting id="Location2ClosestRadar" type="string" label="32211" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Location3BOM" type="string" label="32204" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="Location2BOM"/>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(weather.ozweather,Location3)</data>
					</control>
				</setting>
				<setting id="Location3ClosestRadar" type="string" label="32211" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Location1BOMGeoHash" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Location2BOMGeoHash" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Location3BOMGeoHash" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Location1Lat" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Location1Lon" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Location2Lat" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Location2Lon" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Location3Lat" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Location3Lon" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Radar1Lat" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Radar1Lon" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Radar2Lat" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Radar2Lon" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Radar3Lat" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Radar3Lon" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
			</group>
		</category>
		<category id="extended features" label="32205" help="">
			<group id="1">
				<setting id="Location1BOMGeoHash" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="Location2BOMGeoHash" type="string" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading/>
					</control>
				</setting>
				<setting id="ExtendedFeaturesToggle" type="boolean" label="32194" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
					<group id="55" label="32212">

					</group>
					<setting id="Radar1" type="string" label="32155" help="">
						<level>0</level>
						<default/>
						<constraints>
							<allowempty>true</allowempty>
						</constraints>
						<dependencies>
							<dependency type="enable">
								<condition operator="!is" setting="ExtendedFeaturesToggle">false</condition>
							</dependency>
						</dependencies>
						<control type="edit" format="string">
							<heading>32155</heading>
						</control>
					</setting>
					<setting id="Radar2" type="string" label="32156" help="">
						<level>0</level>
						<default/>
						<constraints>
							<allowempty>true</allowempty>
						</constraints>
						<dependencies>
							<dependency type="enable">
								<and>
									<condition operator="!is" setting="Location2BOMGeoHash"/>
									<condition on="property" name="InfoBool"> !eq(-4,false)</condition>
								</and>
							</dependency>
						</dependencies>
						<control type="edit" format="string">
							<heading>32156</heading>
						</control>
					</setting>
					<setting id="Radar3" type="string" label="32157" help="">
						<level>0</level>
						<default/>
						<constraints>
							<allowempty>true</allowempty>
						</constraints>
						<dependencies>
							<dependency type="enable">
								<and>
									<condition operator="!is" setting="Location2BOMGeoHash"/>
									<condition on="property" name="InfoBool"> !eq(-5,false)</condition>
								</and>
							</dependency>
						</dependencies>
						<control type="edit" format="string">
							<heading>32157</heading>
						</control>
					</setting>
            </group>
			<group id="2" label="32209">
				<setting id="PurgeRadarBackgroundsOnNextRefresh" type="boolean" label="32210" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
