<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Enter Settings">
		<!-- Best is mapped to trw in default.py -->
		
		<setting id="Location1" label="32111" type="action" action="RunScript($ID,Location1)" default=""/>
		<setting id="Location2" label="32112" type="action" action="RunScript($ID,Location2)" enable="!eq( -1,)" default=""/>
		<setting id="Location3" label="32113" type="action" action="RunScript($ID,Location3)" enable="!eq( -1,)" default=""/>
    	<setting id="ExtendedFeaturesToggle" label="32194" type="bool" default="false"/>
   		<setting id="BGDownloadToggle" label="32197" type="bool" default="true" enable="!eq(-1,false)"/>
   		<setting id="ABCQuality" label ="32196" type ="labelenum" values="256k|512K|1000k|Best" default="1000k" enable="!eq(-2,false)"/>
   		<setting id="Radar1" label="32155" type="text" default="IDR00004" enable="!eq(-3,false)"/>
		<setting id="Radar2" label="32156" type="text" enable="!eq( -6,) + !eq(-4,false)" default=""/>
		<setting id="Radar3" label="32157" type="text" enable="!eq( -7,) + !eq(-5,false)" default=""/>
	    <setting id="Location1UrlPath" type="text" visible="false" default=""/>
		<setting id="Location2UrlPath" type="text" visible="false" default=""/>
		<setting id="Location3UrlPath" type="text" visible="false" default=""/>

	</category>
</settings>
