<settings>
    <category label="30018">
        <setting id="Enable_Debugging"    type="bool"   label="30000" default="false" />
        <setting                          type="lsep"   label="" />
        <setting id="User_Email"          type="text"   label="30001" default="" />
        <setting id="User_Password"       type="text"   label="30002" default=""  option="hidden" />
        <setting                          type="lsep"   label="" />
        <setting id="Select_Hub"          type="action" label="30004" default=""  option="close"    action="RunScript($CWD/service.py, -Hub)" />
        <setting id="Select_Devices"      type="action" label="30005" default=""  option="close"    action="RunScript($CWD/service.py, -Device)" />
        <setting id="Hub_URL"             type="text"   label=""      default=""  option="hidden"   enable="false" visible="false" />
        <setting                          type="lsep"   label="" />
        <setting id="Monitor_Events"      type="bool"   label="30009" default="true" />
        <setting id="Disable_Notify"      type="bool"   label="30008" default="false" visible="eq(-1,true)" subsetting="true" />
    </category>
    <category label="30010">
        <setting id="Monitor_Switch"      type="bool"   label="30011" default="false" enable="false" visible="false" />
        <setting id="Monitor_Motion"      type="bool"   label="30012" default="false" enable="false" visible="false" />
        <setting id="Monitor_Status"      type="bool"   label="30013" default="false" enable="false" visible="false" />
        <setting id="Monitor_Accelerate"  type="bool"   label="30019" default="false" enable="false" visible="false" />
        <setting id="Monitor_Battery"     type="enum"   label="30014" default="5"  values="OFF|Below 50%|Below 40%|Below 30%|Below 20%|Below 10%"/>
        <setting id="Monitor_Temperature" type="bool"   label="30015" default="false" />
        <setting id="Temperature_MIN"     type="slider" label="30016" default="72" visible="eq(-1,true)" range="0,1,100" option="float" subsetting="true" />
        <setting id="Temperature_MAX"     type="slider" label="30017" default="78" visible="eq(-2,true)" range="0,1,100" option="float" subsetting="true" />
    </category>
</settings>