<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32007">
        <setting id="Email" type="text" label="32005" default=""/>
        <setting id="Password" type="text" option = "hidden" label="32006" default=""/>
        <setting type="sep"/>
        <setting type="action" label="32008" action="RunScript(service.subtitles.subscenter, 1,action=login)" option="close"/>
    </category>
    <category label="32002">
        <setting type="action" label="32003" action="RunScript(service.subtitles.subscenter, 1,action=clear_store)"/>
    </category>
</settings>
