<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="128">
    <setting type="sep"/>
  <setting label="32159" type="select" values="bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|tr|zh" id="LanguageID" default="en"/>
      <setting label="32160" type="text" id="tmdb_username" />
      <setting label="32161" type="text" id="tmdb_password" option="hidden"/>
      <setting label="32162" type="bool" id="include_adults"/>
<!--       <setting label="Include Adult Movies" type="labelenum" values="true|false" id="include_adults" default="false"/>
 -->      <setting label="32163" type="bool" id="infodialog_onclick" default="true"/>
<!--       <setting label="Debug Mode" type="bool" id="debug_mode"/>
 -->      <setting label="32164" type="action" action="RunScript(script.extendedinfo,info=deletecache)"/>
<!--       <setting label="Sync MovieDB watchlist" type="action" action="RunScript(script.extendedinfo,info=syncwatchlist)"/>
       <setting type="sep"/>-->
  </category>
</settings>
