<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="128">
<!--         <setting type="sep"/> -->
        <setting label="32163" type="bool" id="infodialog_onclick" default="true"/>
        <setting label="32084" type="bool" id="classic_search" default="false"/>
        <setting label="32164" type="action" action="RunScript(script.extendedinfo,info=deletecache)"/>
    </category>
    <category label="TheMovieDB">
        <setting label="32080" type="bool" id="force_native_layout"/>
        <setting label="32159" type="select" values="bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|tr|zh" id="LanguageID" default="en"/>
        <setting label="32160" type="text" id="tmdb_username" />
        <setting label="32161" type="text" id="tmdb_password" option="hidden"/>
        <setting label="32162" type="bool" id="include_adults"/>
        <!-- <setting label="Sync MovieDB watchlist" type="action" action="RunScript(script.extendedinfo,info=syncwatchlist)"/>
        <setting type="sep"/>-->
    </category>
    <category label="32008">
        <setting label="32004" type="select" values="google|youtube|local" id="autocomplete_provider" default="youtube"/>
        <setting label="32003" visible="!eq(-1,local)" type="select" values="bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|tr|zh" id="autocomplete_lang" default="en"/>
        <setting label="32003" visible="eq(-2,local)" type="select" values="en|de|fr|nl" id="autocomplete_lang_local" default="en"/>
    </category>
</settings>
