<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- GENERAL -->
  <category label="32001">
    <setting label="32002" type="enum" id="randomType" lvalues="32004|32005|32006" />
    <setting label="32003" type="bool" id="askForTypeOnLaunch" default="false" />
  </category>
</settings>