<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <setting type="lsep" label="45001" />
  <setting id="AutoStart" type="bool" label="45004" default="false" />
  <setting id="Username" type="text" label="45005" default="" />
  <setting id="Password" type="text" option="hidden" label="45006" default="" />

	<setting type="lsep" label="45013" />
	<setting id="AutoSubmitVideo" type="bool" label="45014" default="true" />
	<setting id="NotifyOnSubmit" type="bool" label="45007" default="true" />
	<setting id="VideoThreshold" type="enum"  visible= "eq(-2,true)" enable="eq(-2,true)" label="45015" values="75%|95%" default="1" />

  <setting type="lsep" label="45002" />
	<setting id="ExcludePathOption" type="bool" label="45009" default="false" />
  <setting id="ExcludePath" type="folder" source="files" label="45010" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
  <setting id="ExcludePathOption2" type="bool" label="45009" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
  <setting id="ExcludePath2" type="folder" source="files" label="45010" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />
  <setting id="ExcludePathOption3" type="bool" label="45009" default="false" visible= "eq(-2,true)" enable="eq(-2,true)" />
  <setting id="ExcludePath3" type="folder" source="files" label="45010" default="" visible= "eq(-1,true)" enable="eq(-1,true)" />

  <setting type="lsep" label="45003" />
  <setting id="new_ver" type="bool" label="45011" default="true" />
  <setting id="debug" type="bool" label="45012" default="true" />
</settings>
