<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  
  <category label="32001">
    <setting default="127.0.0.1" id="host" label="32002" type="text" />
    <setting default="3636" id="port" label="32003" type="number" />
	<setting default="true" id="notification" label="32004" type="bool" />
    <setting default="false" id="start_ambibox" label="32009" type="bool" />
    <setting action="RunScript($CWD\update.py)" label="32005" option="close" type="action" />
    <setting action="RunScript($CWD\downloadbox.py)" label="32040" type="action" />
  </category>
  
  <category label="32010">
    <setting default="true" id="default_enable" label="32011" type="bool" /> 
    <setting default="None" id="default_profile" label="32012" subsetting="true" type="labelenum" values="None" visible="eq(-1,true)" />
    <setting default="true" id="audio_enable" label="32015" type="bool" />
    <setting default="None" id="audio_profile" label="32016" subsetting="true" type="labelenum" values="None" visible="eq(-1,true)" />
    <setting id="text" label="32019" type="lsep" />
    <setting default="2" id="video_choice" label="32025" lvalues="32026|32027|32028|32029" type="enum" />
    <setting default="None" enable="eq(-1,0)" id="video_profile" label="32014" type="labelenum" values="None" />
    <setting default="false" id="directXBMC_enable" label="32017" type="bool" />
    <setting default="0" enable="eq(-1,true)" id="directXBMC_quality" label="32043" lvalues="32044|32045|32046|32047" type="enum" />
    <setting default="true" id="disable_on_screensaver" label="32050" type="bool" value="true" />
    <setting default="true" id="show_menu" label="32023" type="bool" value="true" visible="false" />
 </category>

 <category label="32053">
    <setting default="None" id="2D_43" label="32054" subsetting="true" type="labelenum" values="None" visible="true" />
    <setting default="None" id="2D_32" label="32055" subsetting="true" type="labelenum" values="None" visible="true" />
    <setting default="None" id="2D_169" label="32056" subsetting="true" type="labelenum" values="None" visible="true" />
    <setting default="None" id="2D_185" label="32057" subsetting="true" type="labelenum" values="None" visible="true" />
    <setting default="None" id="2D_22" label="32058" subsetting="true" type="labelenum" values="None" visible="true" />
    <setting default="None" id="2D_24" label="32059" subsetting="true" type="labelenum" values="None" visible="true" />

 </category>
 <category label="32060">
    <setting default="false" id="3D_enable" label="32052" type="bool" value="false" />
    <setting label="32060" type="lsep" />
    <setting default="None" enable="eq(-2,true)" id="3DS_43" label="32054" subsetting="true" type="labelenum" values="None" />
    <setting default="None" enable="eq(-3,true)" id="3DS_32" label="32055" subsetting="true" type="labelenum" values="None" />
    <setting default="None" enable="eq(-4,true)" id="3DS_169" label="32056" subsetting="true" type="labelenum" values="None" />
    <setting default="None" enable="eq(-5,true)" id="3DS_185" label="32057" subsetting="true" type="labelenum" values="None" />
    <setting default="None" enable="eq(-6,true)" id="3DS_22" label="32058" subsetting="true" type="labelenum" values="None" />
    <setting default="None" enable="eq(-7,true)" id="3DS_24" label="32059" subsetting="true" type="labelenum" values="None" />
    <setting label="32061" type="lsep" />
    <setting default="None" enable="eq(-9,true)" id="3DT_43" label="32054" subsetting="true" type="labelenum" values="None" />
    <setting default="None" enable="eq(-10,true)" id="3DT_32" label="32055" subsetting="true" type="labelenum" values="None" />
    <setting default="None" enable="eq(-11,true)" id="3DT_169" label="32056" subsetting="true" type="labelenum" values="None" />
    <setting default="None" enable="eq(-12,true)" id="3DT_185" label="32057" subsetting="true" type="labelenum" values="None" />
    <setting default="None" enable="eq(-13,true)" id="3DT_22" label="32058" subsetting="true" type="labelenum" values="None" />
    <setting default="None" enable="eq(-14,true)" id="3DT_24" label="32059" subsetting="true" type="labelenum" values="None" />
</category>
</settings>