<settings>
    <category label="32100">
        <setting id="itemsPerPage"             type="enum"   label="32101" values="10|25|50|75|100" default="2"/>
        <setting id="no_index_page"            type="bool"   label="32103" default="false" />
        <setting id="default_frontpage"        type="text"   label="32102" values="" default=""/>
        <setting                               type="sep" />
        <setting id="repeat_gif_video"         type="enum" label="32115" values="0|1|3|10|100" default="1"/>
        <setting                               type="sep" />
        <setting id="use_slideshow_for_album"  type="bool" label="32222" default="false"/>
        <setting                               type="sep" />
        <setting id="main_gui_skin"            type="text" label="32108" default="main_list01.xml"/>
    </category>

    <category label="32200">
        <setting id="slideshow_mode"           type="enum"   label="32201" lvalues="32202|32203|32204" default="1"/>
        <setting id="slideshow_speed"          type="slider" label="32221" default="1" range="0.20,0.20,2.0" option="float"/>
        <setting id="include_albums"           type="bool"   label="32223" default="true"/>
        <setting id="use_reddit_preview"       type="bool"   label="32224" default="true"/>
        <setting id="show_title"               type="bool"   label="32225" default="false"/>
        <setting id="random_post_order"        type="bool"   label="32226" default="false"/>
        <setting id="random_image_order"       type="bool"   label="32227" default="false"/>
        <setting                               type="lsep"   label="32228" enable="true" />
        <setting id="screensaver_subreddit"    type="text"   label="32301" values="" default=""/>
    </category>

    <category label="32300">
        <setting id="CommentTreshold"          type="select"  label="32106" values="All|0|5|10|50|100"/>
        <setting                               type="lsep"    label="32104" enable="true"/>
        <setting id="domain_filter"            type="text"    label="32110" default=""/>
        <setting                               type="sep" />
        <setting                               type="lsep"    label="32105" enable="true"/>
        <setting id="subreddit_filter"         type="text"    label="32110" default=""/>
        <setting                               type="sep" />
        <setting                               type="lsep"    label="32109" enable="true"/>
        <setting id="comments_link_filter"     type="text"    label="32110" default="message/compose,np.reddit.com,"/>
        <setting                               type="sep" />
        <setting id="hide_nsfw"                type="bool"    label="32107" default="false"/>
    </category>

    <category label="32500">
        <setting type="lsep"                                label="32501" enable="true" />
        <setting id="cxm_show_html_to_text"     type="bool" label="32502" default="false"/>
        <setting id="cxm_show_open_browser"     type="bool" label="32503" default="true"/>
        <setting id="cxm_show_comments"         type="bool" label="32504" default="true"/>

        <setting id="cxm_show_by_author"        type="bool" label="32505" default="true"/>
        <setting id="cxm_show_by_subreddit"     type="bool" label="32507" default="true"/>
        <setting id="cxm_show_by_domain"        type="bool" label="32509" default="true"/>

        <setting id="cxm_show_autoplay"         type="bool" label="32512" default="true"/>
        <setting id="cxm_show_slideshow"        type="bool" label="32514" default="true"/>

        <setting id="cxm_show_add_shortcuts"    type="bool" label="32515" default="true"/>
        <!-- setting id="cxm_show_new_from"         type="bool" label="32517" default="true"/-->

        <setting id="cxm_show_filter"           type="bool" label="32518" default="true"/>
        <setting id="cxm_show_search"           type="bool" label="32520" default="true"/>

        <setting id="cxm_show_youtube_items"    type="bool" label="32521" default="true"/>
        <!-- setting id="cxm_show_reddit_save"      type="bool" label="32510" default="true"/-->
    </category>

    <category label="32150">
        <setting id="streamable_quality"       type="enum"       label="32157" values="full|mobile" default="1" />
        <setting id="youtube_api_key"          type="text"       label="32159" default="AIzaSyCqvYW8NI-OpMPaWR1DuZYW_llpmFdHRBI"/>
        <setting                               type="sep" />
        <setting id="use_requests_cache"       type="bool"       label="32158"  default="false"/>
        <setting id="clear_requests_cache"     type="action"     label="32151"  action="RunAddon(script.reddit.reader,mode=delete_setting_file&type=requests_cache)"/>
        <setting id="clear_icons_cache"        type="action"     label="32152"  action="RunAddon(script.reddit.reader,mode=delete_setting_file&type=icons_cache)"/>
        <setting id="clear_subreddits_setting" type="action"     label="32153"  action="RunAddon(script.reddit.reader,mode=delete_setting_file&type=subreddits_setting)"/>
    </category>

    <category label="32450">
        <setting id="use_addon_for_youtube"   type="bool"        label="32453" default="false"/>
        <setting id="use_addon_for_Liveleak"  type="bool"        label="32454" default="true"/>
        <setting                              type="sep" />
        <setting id="ytdl_quality"            type="enum"        label="32455" lvalues="32456|32457|32458|32459" default="1"/>
        <setting id="ytdl_DASH"               type="bool"        label="32460" default="false"/>
        <setting                              type="sep" />
        <setting id="ytdl_btn_check_version"  type="action"      label="32451"  action="RunAddon(script.reddit.reader,mode=update_youtube_dl_core&type=checkversion)"/>
        <setting id="ytdl_btn_download"       type="action"      label="32452"  action="RunAddon(script.reddit.reader,mode=update_youtube_dl_core&type=download)"/>
    </category>

    <category label="32400">
        <setting                              type="lsep"        label="32401"               enable="true"   />
        <setting                              type="sep" />
        <setting id="reddit_code"             type="text"        label="32402"  default=""                   />
        <setting                              type="lsep"        label="32415"               enable="true"   />
        <setting                              type="sep" />
        <setting                              type="action"      label="32403"  action="RunAddon(script.reddit.reader,mode=get_refresh_token)"/>
        <setting id="reddit_refresh_token"    type="text"        label="32404"  default=""   enable="false"  />
        <setting id="reddit_access_token"     type="text"        label="32407"  default=""   enable="false"  />
        <setting id="reddit_access_token_scope"   type="text"    label="32408"  default=""   enable="false"  />
        <setting id="reddit_access_token_expires" type="text"    label="32409"  default=""   enable="false"  />
        <setting                              type="sep" />
        <setting                              type="action"      label="32406"  action="RunAddon(script.reddit.reader,mode=get_access_token)"/>
        <setting                              type="action"      label="32410"  action="RunAddon(script.reddit.reader,mode=revoke_refresh_token)"/>
    </category>
</settings>
