<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32001">
        <setting id="videoSelection" type="enum" label="32004" lvalues="32020|32021" default="0"/>
		<setting id="displaySelected" label="32022" subsetting="true" visible="eq(-1,0)" enable="false" type="text" default="- Not Set -"/>
		<setting label="32050" subsetting="true" visible="eq(-2,0)" type="action" option="close" action="RunScript($CWD/download.py)"/>
		<setting id="useFolder" subsetting="true" visible="eq(-3,1)" type="bool" label="32023" default="false"/>
		<setting id="screensaverFile" label="32051" subsetting="true" visible="eq(-4,1) + eq(-1,false)" type="video"/>
		<setting id="screensaverFolder" label="32054" subsetting="true" visible="eq(-5,1) + eq(-2,true)" type="folder"/>
		<setting id="folderRepeatType" subsetting="true" visible="eq(-6,1) + eq(-3,true)" type="enum" label="32024" lvalues="32025|32026" default="0"/>
		<setting id="overlayImage" type="enum" label="32200" lvalues="32202|32204|32205|32206|32203" default="0"/>
		<setting id="overlayImageFile" label="32201" subsetting="true" visible="eq(-1,4)" type="image"/>
    	<setting label="32002" type="lsep"/>
		<setting id="logEnabled" type="bool" label="32003" default="false"/>
	</category>
	<category label="32006">
		<setting id="showTime" type="bool" label="32052" default="false"/>
		<setting id="randomStart" type="bool" label="32053" default="false"/>
		<setting id="mediaPlayingBlock" type="bool" label="32055" default="true"/>
		<setting id="alterVolume" type="bool" label="32056" default="false"/>
		<setting id="screensaverVolume" subsetting="true" visible="eq(-1,true)" label="32057" type="slider" default="0" range="0,1,100" option="int"/>
		<setting id="dimLevel" type="slider" label="32058" range="0,1,14" option="int" default="0"/>
		<setting id="stopAutomatic" type="bool" label="32059" default="false"/>
		<setting id="stopAfter" subsetting="true" visible="eq(-1,true)" label="32060" type="slider" default="60" range="5,5,240" option="int"/>
	</category>
	<category label="32007">
    	<setting id="resetVolumeOnStartup" type="bool" label="32061" default="false"/>
		<setting id="resetStartupVolumeValue" label="32062" visible="eq(-1,true)" type="slider" default="100" range="0,1,100" option="int" />
	</category>
</settings>
