<?xml version="1.0" ?>
<settings version="1">
	<section id="script.kodi.loguploader">
		<category id="32501" label="32501">
			<group id="1" label="32502">
				<setting help="" id="oldlog" label="32503" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting help="" id="crashlog" label="32504" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
