<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<category label="Metahandler">
    <setting id="meta_folder_location" type="folder" label="Meta Data Save Location" default="special://profile/addon_data/script.module.metahandler/"/>
	  <setting id="use_remote_db" type="bool" 	label="Use a remote MySQL DB" default="False"/>
		<setting id="db_address" type="text" 	label="    Address"	enable="eq(-1,true)" default="" />
		<setting id="db_port" 	 type="integer" label="    Port"		enable="eq(-2,true)" default="" />
		<setting id="db_user" 	 type="text" 	label="    Username"	enable="eq(-3,true)" default="" />
		<setting id="db_pass"	 type="text" 	label="    Password" 	enable="eq(-4,true)" default="" option="hidden"/>
		<setting id="db_name"	 type="text" 	label="    Database" 	enable="eq(-5,true)" default="video_cache" />
    <setting type="sep" />
    <setting label="Reset Dababase" type="action" action="RunScript($CWD/lib/metahandler/rm_DB.py)"/>
</category>
<category label="TMDB (Movies)">
    <setting id="tmdb_language" label="Language" type="labelenum" default="English (en)" values="English (en)|Český (cs)|Dansk (da)|Deutsch (de)|ελληνικά (el)|Español (es)|Français (fr)|Magyar (hu)|Italiano (it)|Nederlands (nl)|Polski (pl)|Português (pt)|Pусский (ru)|Slovenščina (sk)|Svenska (sv)|Türkçe (tr)"/>
    <setting id="tmdb_poster_size" label="Poster Size" type="labelenum" default="w342" values="w92|w154|w185|w342|w500|original"/>
    <setting id="tmdb_backdrop_size" label="Backdrop Size" type="labelenum" default="original" values="w300|w780|w1280|original"/>
    <setting type="sep" />
    <setting id="year_lock" label="Year Lock" type="bool" default="false"/>
</category>
<category label="TVDB (Series, Mangas and tvshows)">
    <setting id="tvdb_language" label="Language" type="labelenum" default="English (en)" values="English (en)|čeština (cs)|Dansk (da)|Deutsch (de)|ελληνικά (el)|Español (es)|Suomeksi (fi)|Français (fr)| עברית (he)|Hrvatski (hr)|Magyar (hu)|Italiano (it)|日本語 (ja)|Nederlands (nl)|Norsk (no)|Polski (pl)|Português (pt)|Pусский (ru)|Slovenski (sl)|Svenska (sv)|Türkçe (tr)|中文 (zh)"/>
</category>
</settings>
