<?xml version="1.0" ?>
<settings version="1">
	<section id="addon">
		<category id="32101" label="32101">
			<group id="1">
				<setting help="" id="Location1" label="32111" type="string">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control format="action" type="button">
						<data>RunScript(weather.yahoo,Location1)</data>
					</control>
				</setting>
				<setting help="" id="Location2" label="32112" type="string">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="Location1"/>
						</dependency>
					</dependencies>
					<control format="action" type="button">
						<data>RunScript(weather.yahoo,Location2)</data>
					</control>
				</setting>
				<setting help="" id="Location3" label="32113" type="string">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="Location2"/>
						</dependency>
					</dependencies>
					<control format="action" type="button">
						<data>RunScript(weather.yahoo,Location3)</data>
					</control>
				</setting>
				<setting help="" id="Location4" label="32114" type="string">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="Location3"/>
						</dependency>
					</dependencies>
					<control format="action" type="button">
						<data>RunScript(weather.yahoo,Location4)</data>
					</control>
				</setting>
				<setting help="" id="Location5" label="32115" type="string">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="Location4"/>
						</dependency>
					</dependencies>
					<control format="action" type="button">
						<data>RunScript(weather.yahoo,Location5)</data>
					</control>
				</setting>
				<setting help="" id="Location1id" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition name="InfoBool" on="property">false</condition>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading/>
					</control>
				</setting>
				<setting help="" id="Location2id" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition name="InfoBool" on="property">false</condition>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading/>
					</control>
				</setting>
				<setting help="" id="Location3id" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition name="InfoBool" on="property">false</condition>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading/>
					</control>
				</setting>
				<setting help="" id="Location4id" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition name="InfoBool" on="property">false</condition>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading/>
					</control>
				</setting>
				<setting help="" id="Location5id" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition name="InfoBool" on="property">false</condition>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading/>
					</control>
				</setting>
			</group>
		</category>
		<category id="32102" label="32102">
			<group id="1">
				<setting help="" id="Debug" label="32129" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
