
<!--
Rom Collection Browser 0.6.1
08.2010
	
This is a commented version of RCB's config file. The first Rom Collection in this file is just an example collection that will be ignored during import (if you don't change the value of ignoreOnScan).

If you make changes to this file you need to "Import Settings". Some settings also require to "Import Games" again.

There are three stages where RCB reads its settings: Importing Games, Browsing and Displaying Games, Launching Games. You only need to "Import Games" again if you make changes to settings that address the "Importing Games" stage.

Most settings have a default value. If you delete a setting, the default value will be used.

See http://code.google.com/p/romcollectionbrowser for latest version and full documentation
-->

<config>
	<RCBSettings>
		
		<!-- 
			Stage: Browsing and Displaying Games (no need to Import Games after changing these values) 
		-->
		
		<!-- showEntryAllConsoles: You can set this property to "False" to remove the entry "All" from the Console filter list. default value: True -->
		<showEntryAllConsoles>True</showEntryAllConsoles>
		<!-- showEntryAllGenres: You can set this property to "False" to remove the entry "All" from the Genre filter list. default value: True -->
		<showEntryAllGenres>True</showEntryAllGenres>
		<!-- showEntryAllYears: You can set this property to "False" to remove the entry "All" from the Year filter list. default value: True -->
		<showEntryAllYears>True</showEntryAllYears>
		<!-- showEntryAllPublisher: You can set this property to "False" to remove the entry "All" from the Publisher filter list. default value: True -->
		<showEntryAllPublisher>True</showEntryAllPublisher>
		<!-- showEntryAllChars: You can set this property to "False" to remove the entry "All" from the A-Z filter list. default value: True -->
		<showEntryAllChars>True</showEntryAllChars>
		<!-- saveViewStateOnExit: save and restore current view state (selected filter criteria, focused control, ...) when exiting RCB. default value: True -->
		<saveViewStateOnExit>True</saveViewStateOnExit>
		<!-- saveViewStateOnLaunchEmu: save and restore current view state when launching a game. default value: True -->
		<saveViewStateOnLaunchEmu>True</saveViewStateOnLaunchEmu>
		<!-- preventUnfilteredSearch: This will prevent RCB from showing ALL your roms without any filter criteria. default value: False -->
		<preventUnfilteredSearch>False</preventUnfilteredSearch>
		<!-- logLevel: Set log level to ERROR, WARNING, INFO or DEBUG. default value: WARNING -->
		<logLevel>WARNING</logLevel>
		<!-- cachingOption: controls RCBs caching behaviour. Allowed values: CACHEALL, CACHEITEM, CACHEITEMANDNEXT. default value: CACHEITEMANDNEXT -->
		<!-- CACHEALL: loads and caches all media files at startup. best for large rom collections on fast PCs with enough RAM. Scrolling down the game list may be a bit slower. -->
		<!-- CACHEITEM: loads only the media files shown in the game list when the game list is built. All extra info will be loaded when a game is selected.
						best for slow PCs with little RAM or xbox. Fast list scrolling is possible -->
		<!-- CACHEITEMANDNEXT: sames as CACHEITEM. This will also load the media files and description for the item before and after the selected one. 
								This will reduce flickering while browsing the game list. -->
		<cachingOption>CACHEITEMANDNEXT</cachingOption>
	</RCBSettings>
	
	<!-- 
		Stage: Importing Games (You need to Import Games after changing these values) 
	-->
	
	<!-- You must add every console you want to emulate here. Just set a unique name, it will be referenced later. No default values here. -->
	<Consoles>				
		<Console>
			<name>Amiga</name>			
		</Console>
		<Console>
			<name>Super Nintendo</name>			
		</Console>
		<Console>
			<name>Xbox</name>
		</Console>
	</Consoles>
	
	<!-- 
		Stage: Importing Games (You need to Import Games after changing these values)
		FileTypes will also be used in Stage "Browsing and Displaying Games"
	-->
	
	<!-- With FileTypes you can define your own image or video categories. All imported images or videos will be associated with this FileType. -->
	<FileTypes>			
		<FileType>
			<!-- name: The name is referenced as type in mediaPath and fileTypeFor...-elements. No default value -->
			<name>cover</name>
			<!-- type: Must be "image" or "video" -->
			<type>image</type>
			<!-- parent: The parent that is associated with the imported file. Allowed values: game, console, developer, publisher, romcollection. -->
			<parent>game</parent>
		</FileType>				
		<FileType>
			<name>title</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>action</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>cartridge</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>console</name>
			<type>image</type>
			<parent>game</parent>
		</FileType>
		<FileType>
			<name>gameplay</name>
			<type>video</type>
			<parent>game</parent>
		</FileType>		
	</FileTypes>
	
	<!-- RomCollection configuration is used in all three stages.  -->
	<RomCollections>			
		<RomCollection>
			
			<!-- 
				Stage: Importing Games (You need to Import Games after changing these values) 
			-->
			
			<!-- name: only used to distinguish rom collections.  -->
			<name>Collection V1</name>
			<!-- consoleName: will associate all games of the rom collection with this console. Use the exact same name as in console configuration above. -->
			<consoleName>Amiga</consoleName>
			<!-- romPath: The path where RCB will search your roms. You can use this property several times. RCB will also search in all sub directories -->
			<romPath>TestDataBase\Collection V1\roms\*.adf</romPath>
			<!-- descFilePerGame: True: Use one description file per game, False: use one big file with descriptions for all games. default value: False -->
			<descFilePerGame>False</descFilePerGame>
			<!-- descriptionParserFile: path to your xml file that tells RCB how to parse your game descriptions -->
			<descriptionParserFile>TestDataBase\Collection V1\parserConfig.xml</descriptionParserFile>
			<!-- descFilePath: path to your description file. May contain %GAME% as placeholder if you have one desc file per game. -->
			<descFilePath>TestDataBase\Collection V1\synopsis\synopsis.txt</descFilePath>			
			<!-- diskPrefix: Disk prefix will be removed when detecting the game name: "MyGame_Disk2.adf" will be "MyGame". default value: "_Disk" -->
			<diskPrefix>_Disk</diskPrefix>
			<!-- allowUpdate: If set to "False" RCB won't update already imported game descriptions but will add additional media files. default value: True -->
			<allowUpdate>True</allowUpdate>
			<!-- ignoreOnScan: If set to "True" this RomCollection will be ignored completely during import. default value: False -->
			<ignoreOnScan>True</ignoreOnScan>
			<!-- searchGameByCRC: Compute a crc value for each rom file and search for this value in the description file. default value: True -->
			<searchGameByCRC>True</searchGameByCRC>
			<!-- searchGameByCRCIgnoreRomName: If set to "True" RCB won't try to find game via rom filename. default value: False -->
			<searchGameByCRCIgnoreRomName>False</searchGameByCRCIgnoreRomName>
			<!-- useFoldernameAsCRC: Compare the crc in the description file with the foldername of the current rom file. default value: False -->
			<useFoldernameAsCRC>False</useFoldernameAsCRC>
			<!-- useFilenameAsCRC: Compare the crc in the description file with the filename (without extension) of the current rom file. default value: False -->
			<useFilenameAsCRC>False</useFilenameAsCRC>
			<!-- maxFolderDepth: limit the number of subfolders RCB scans while searching for rom files. Default value: 999 -->
			<maxFolderDepth>999</maxFolderDepth>
			<!-- ignoreGameWithoutDesc: Don't import games if no description was found. default value: False -->
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>	
			
			<!-- mediaPath: The path to your image or video files. Attribute "type" references the name of the configured FileTypes. -->
			<!-- You can use placeholders in the value: %GAME%, %CONSOLE%, %PUBLISHER%, %DEVELOPER%  -->			
			<mediaPath type="cover">TestDataBase\Collection V1\cover\%GAME%.jpg</mediaPath>			
			<mediaPath type="title">TestDataBase\Collection V1\titles\%GAME%.jpg</mediaPath>
			<mediaPath type="action">TestDataBase\Collection V1\action\%GAME%.jpg</mediaPath>
			<mediaPath type="gameplay">TestDataBase\Collection V1\movies\%GAME%.wmv</mediaPath>
			
			<!-- 
				Stage: Browsing and Displaying Games (no need to Import Games after changing these values) 
			-->
			
			<!-- fileTypeFor...-elements: used for dynamic image placing. Associates configured FileTypes with available image controls. -->
			<!-- See http://code.google.com/p/romcollectionbrowser/wiki/Main#dynamic_image_placing for screenshots and complete documentation-->
			
			<!-- Main view -->
			<!-- fileTypeForGameList: The gamelist in Info and Thumbs view (non-selected items) -->
			<fileTypeForGameList>cover</fileTypeForGameList>
			<!-- fileTypeForGameListSelected: The gamelist in Info and Thumbs view (selected items) -->
			<fileTypeForGameListSelected>title</fileTypeForGameListSelected>
			<!-- fileTypeForGameInfoViewBackground: background image (all views) -->
			<fileTypeForGameInfoViewBackground>title</fileTypeForGameInfoViewBackground>
			<!-- You can use more than one entry of the same type. This will be used as fallback if the first image is not available -->
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<!-- fileTypeForMainViewGameInfoUpperLeft: upper left image in Info and Info 2 view -->
			<fileTypeForMainViewGameInfoUpperLeft>title</fileTypeForMainViewGameInfoUpperLeft>
			<!-- fileTypeForMainViewGameInfoUpperRight: upper right image in Info and Info 2 view -->
			<fileTypeForMainViewGameInfoUpperRight>action</fileTypeForMainViewGameInfoUpperRight>
			<!-- fileTypeForMainViewGameInfoLowerLeft: lower left image in Info and Info 2 view -->
			<fileTypeForMainViewGameInfoLowerLeft>cover</fileTypeForMainViewGameInfoLowerLeft>
			<!-- fileTypeForMainViewGameInfoLowerRight: lower right image in Info and Info 2 view (may be hidden by fileTypeForMainViewVideoWindowSmall) -->
			<fileTypeForMainViewGameInfoLowerRight>cartridge</fileTypeForMainViewGameInfoLowerRight>
			<!-- fileTypeForMainViewVideoWindowSmall: same place as lower right image in Info and Info 2 view. Will hide image control if a video is present. -->
			<fileTypeForMainViewVideoWindowSmall>gameplay</fileTypeForMainViewVideoWindowSmall>
			
			<!-- fileTypeForMainViewGameInfoBig: Use one big image instead of 4 small images in Info and Info 2 view (alternative to UpperLeft, LowerRight, ...) -->
			<fileTypeForMainViewGameInfoBig>action</fileTypeForMainViewGameInfoBig>
			<!-- fileTypeForMainViewVideoWindowBig: same place as GameInfoBig in Info and Info 2 view. Will hide image control if a video is present. -->
			<fileTypeForMainViewVideoWindowBig>gameplay</fileTypeForMainViewVideoWindowBig>

			<!-- fileTypeForMainViewFullscreenVideo: use this filetype to show fullscreen video -->
			<fileTypeForMainViewFullscreenVideo>gameplay</fileTypeForMainViewFullscreenVideo>
						
			<!-- fileTypeForMainView1: small icon to show some extra info (all views) -->
			<fileTypeForMainView1>cover</fileTypeForMainView1>
			<!-- fileTypeForMainView2: small icon to show some extra info (all views). If empty, RCB will show the console name at this place -->
			<fileTypeForMainView2>cover</fileTypeForMainView2>
			<!-- fileTypeForMainView3: small icon to show some extra info (all views) -->
			<fileTypeForMainView3>cover</fileTypeForMainView3>
						
			<!-- Game details page (accessable via Info button) -->
			<!-- fileTypeForGameInfoViewBackground: background image -->
			<fileTypeForGameInfoViewBackground>title</fileTypeForGameInfoViewBackground>			
			<!-- fileTypeForGameInfoViewGamelist: small images in the upper left and right corner -->
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>
			<!-- fileTypeForGameInfoView1: four images in a row -->
			<fileTypeForGameInfoView1>title</fileTypeForGameInfoView1>
			<!-- fileTypeForGameInfoView2: four images in a row -->
			<fileTypeForGameInfoView2>action</fileTypeForGameInfoView2>
			<!-- fileTypeForGameInfoView3: four images in a row -->
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>
			<!-- fileTypeForGameInfoView4: four images in a row. May be hidden by fileTypeForGameInfoViewVideoWindow -->
			<fileTypeForGameInfoView4>cartridge</fileTypeForGameInfoView4>
			<!-- fileTypeForGameInfoViewVideoWindow: same place as GameInfoView4. Will hide image control if a video is present. -->
			<fileTypeForGameInfoViewVideoWindow>gameplay</fileTypeForGameInfoViewVideoWindow>
			
			
			<!-- 
				Stage: Launching Games (no need to Import Games after changing these values)
			-->
			
			<!-- emulatorCmd: the command that is used to launch your emulator. -->
			<!-- %ROM% will be replaced with the current file name. %I% will be replaced with the zero-based index of the current rom file  -->
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe {-%I% "%ROM%"}</emulatorCmd>
			<!-- useEmuSolo: If set to "True" RCB will try to shutdown XBMC before starting the emulator. Otherwise XBMC will be minimized. -->
			<useEmuSolo>True</useEmuSolo>
			<!-- escapeCommand: will escape the rom file names passed to the emulatorCmd -->
			<escapeCommand>True</escapeCommand>	
			<!-- xboxCreateShortcut: creates a temp.cut file with the path to the emulator or the xbox game to be launched. default value: False -->
			<xboxCreateShortcut>True</xboxCreateShortcut>
			<!-- xboxCreateShortcutAddRomfile: adds the rom filename as additional parameter to the cut file (not all emulators support this). default value: False -->
			<xboxCreateShortcutAddRomfile>True</xboxCreateShortcutAddRomfile>
			<!-- xboxCreateShortcutUseShortGamename: this will use a short game name instead of complete file name (required for some exotic emulators). default value: False -->
			<xboxCreateShortcutUseShortGamename>True</xboxCreateShortcutUseShortGamename>
		</RomCollection>
		
		<!-- example Amiga configuration: 2 images, description files per game, no video--> 
		<RomCollection>			
			<name>Amiga</name>
			<consoleName>Amiga</consoleName>
			<emulatorCmd>E:\Emulatoren\WINUAE\winuae.exe {-%I% "%ROM%"}</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>			
			<descFilePerGame>True</descFilePerGame>
			<descriptionParserFile>PathToData\Amiga\parserConfig.xml</descriptionParserFile>						
			<searchGameByCRC>False</searchGameByCRC>			
			<ignoreGameWithoutDesc>False</ignoreGameWithoutDesc>
			<romPath>PathToData\Amiga\roms\*.adf</romPath>			
			<descFilePath>PathToData\Amiga\synopsis\%GAME%\synopsis.txt</descFilePath>			
			<mediaPath type="cover">PathToData\Amiga\cover\%GAME%\*.jpg</mediaPath>			
			<mediaPath type="action">PathToData\Amiga\screens\%GAME%\*.jpg</mediaPath>			
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForGameListSelected>cover</fileTypeForGameListSelected>
			<fileTypeForMainViewGameInfoBig>action</fileTypeForMainViewGameInfoBig>		
			<fileTypeForGameInfoViewBackground>cover</fileTypeForGameInfoViewBackground>
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>			
			<fileTypeForGameInfoView2>action</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>			
		</RomCollection>

		<!-- example Super Nintendo configuration: 4 images, one description file for all games, 1 video, 1 console image -->
		<RomCollection>			
			<name>SNES</name>
			<consoleName>Super Nintendo</consoleName>
			<emulatorCmd>E:\Emulatoren\SNES\zsnes.exe -m "%ROM%"</emulatorCmd>
			<useEmuSolo>True</useEmuSolo>						
			<descFilePerGame>False</descFilePerGame>
			<descriptionParserFile>PathToData\SNES\parserConfig.xml</descriptionParserFile>			
			<searchGameByCRC>True</searchGameByCRC>
			<searchGameByCRCIgnoreRomName>True</searchGameByCRCIgnoreRomName>			
			<romPath>PathToData\SNES\roms\*.zip</romPath>			
			<descFilePath>PathToData\SNES\description\synopsis.txt</descFilePath>			
			<mediaPath type="cover">PathToData\SNES\cover\%GAME%.jpg</mediaPath>			
			<mediaPath type="action">PathToData\SNES\screens\%GAME%.jpg</mediaPath>						
			<mediaPath type="title">PathToData\SNES\titles\%GAME%.jpg</mediaPath>						
			<mediaPath type="cartridge">PathToData\SNES\cartridge\%GAME%.jpg</mediaPath>
			<mediaPath type="gameplay">PathToData\SNES\ingameVids\%GAME%.wmv</mediaPath>
			<mediaPath type="console">PathToData\consoleImages\%CONSOLE%.png</mediaPath>
			<fileTypeForGameList>cover</fileTypeForGameList>
			<fileTypeForGameListSelected>title</fileTypeForGameListSelected>			
			<fileTypeForGameInfoViewBackground>title</fileTypeForGameInfoViewBackground>
			<fileTypeForMainView1>console</fileTypeForMainView1>
			<fileTypeForMainViewGameInfoUpperLeft>title</fileTypeForMainViewGameInfoUpperLeft>
			<fileTypeForMainViewGameInfoUpperRight>action</fileTypeForMainViewGameInfoUpperRight>
			<fileTypeForMainViewGameInfoLowerLeft>cover</fileTypeForMainViewGameInfoLowerLeft>
			<fileTypeForMainViewGameInfoLowerRight>cartridge</fileTypeForMainViewGameInfoLowerRight>
			<fileTypeForMainViewVideoWindowSmall>gameplay</fileTypeForMainViewVideoWindowSmall>			
			<fileTypeForGameInfoViewGamelist>cover</fileTypeForGameInfoViewGamelist>
			<fileTypeForGameInfoView1>title</fileTypeForGameInfoView1>
			<fileTypeForGameInfoView2>action</fileTypeForGameInfoView2>
			<fileTypeForGameInfoView3>cover</fileTypeForGameInfoView3>
			<fileTypeForGameInfoView4>cartridge</fileTypeForGameInfoView4>
			<fileTypeForGameInfoViewVideoWindow>gameplay</fileTypeForGameInfoViewVideoWindow>
		</RomCollection>			
	</RomCollections>	
</config>
