<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32004">
        <setting id="SUBemail" type="text" label="32002" default=""/>
        <setting id="SUBpassword" type="text" option = "hidden" label="32003" default=""/>
    </category>
    <category label="32008">
        <setting type="action" label="32006" action="RunScript(service.subtitles.subtitle, 1,action=clear_cache)"/>
    </category>
</settings>
