<?xml version="1.0" ?>
<settings version="1">
	<section id="screensaver.atv4">
		<category id="aerial screensavers" label="32000" help="">
			<group id="1" label="32032">
				<setting id="show-notifications" type="boolean" label="32018" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="show-previewwindow" type="boolean" label="32042" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-4k" type="boolean" label="32075" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-hdr" type="boolean" label="32076" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-hevc" type="boolean" label="32077" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2" label="32026">
				<setting id="check-dpms" type="integer" label="32027" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="32035">0</option>
							<option label="32036">1</option>
							<option label="32037">2</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="dpms-action" type="integer" label="32039" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="32040">0</option>
							<option label="32041">1</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<or>
								<condition operator="is" setting="check-dpms">1</condition>
								<condition operator="is" setting="check-dpms">2</condition>
							</or>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="manual-dpms" type="integer" label="32038" help="">
					<level>0</level>
					<default>5</default>
					<constraints>
						<minimum>1</minimum>
						<step>5</step>
						<maximum>120</maximum>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="check-dpms">2</condition>
						</dependency>
					</dependencies>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="toggle-displayoff" type="boolean" label="32028" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<or>
								<condition operator="is" setting="check-dpms">1</condition>
								<condition operator="is" setting="check-dpms">2</condition>
							</or>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="toggle-cecoff" type="boolean" label="32029" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<or>
								<condition operator="is" setting="check-dpms">1</condition>
								<condition operator="is" setting="check-dpms">2</condition>
							</or>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="3" label="32033"/>
			<group id="4" label="32034">
				<setting id="is_locked" type="boolean" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="videos" label="32031" help="">
			<group id="1">
				<setting id="enable-africaandthemiddleeast" type="boolean" label="32081" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-africanight" type="boolean" label="32082" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-alaskanjellies" type="boolean" label="32083" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-antarctica" type="boolean" label="32084" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-atlanticoceantospainandfrance" type="boolean" label="32085" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-australia" type="boolean" label="32086" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-barracuda" type="boolean" label="32087" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-bumpheads" type="boolean" label="32088" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-californiadolphins" type="boolean" label="32089" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-californiakelpforest" type="boolean" label="32090" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-californiatovegas" type="boolean" label="32091" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-caribbeanday" type="boolean" label="32092" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-caribbean" type="boolean" label="32093" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-china" type="boolean" label="32094" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-costaricadolphins" type="boolean" label="32095" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-cownoserays" type="boolean" label="32096" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-dubai" type="boolean" label="32097" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-grandcanyon" type="boolean" label="32098" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-grayreefsharks" type="boolean" label="32099" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-greenland" type="boolean" label="32100" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-hawaii" type="boolean" label="32101" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-hongkong" type="boolean" label="32102" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-humpbackwhale" type="boolean" label="32103" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-iceland" type="boolean" label="32104" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-iranandafghanistan" type="boolean" label="32105" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-irelandtoasia" type="boolean" label="32106" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-italytoasia" type="boolean" label="32107" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-jacks" type="boolean" label="32108" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-kelp" type="boolean" label="32109" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-koreaandjapannight" type="boolean" label="32110" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-liwa" type="boolean" label="32111" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-london" type="boolean" label="32112" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-losangeles" type="boolean" label="32113" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-newyorknight" type="boolean" label="32114" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-newyork" type="boolean" label="32115" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-newzealand" type="boolean" label="32116" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-niledelta" type="boolean" label="32117" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-northamericaaurora" type="boolean" label="32118" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-palaucoral" type="boolean" label="32119" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-palaujellies" type="boolean" label="32120" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-patagonia" type="boolean" label="32121" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-redseacoral" type="boolean" label="32122" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-saharaanditaly" type="boolean" label="32123" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-sanfrancisco" type="boolean" label="32124" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-scotland" type="boolean" label="32125" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-seastars" type="boolean" label="32126" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-seals" type="boolean" label="32127" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-southafricatonorthasia" type="boolean" label="32128" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-southerncaliforniatobaja" type="boolean" label="32129" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-tahitiwaves" type="boolean" label="32130" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-westafricatothealps" type="boolean" label="32131" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable-yosemite" type="boolean" label="32132" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="offline mode" label="32009" help="">
			<group id="1">
				<setting id="download-folder" type="path" label="32010" help="">
					<level>0</level>
					<default/>
					<constraints>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="path">
						<heading>32010</heading>
					</control>
				</setting>
				<setting id="force-offline" type="boolean" label="32043" help="32080">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="get-videos-from-apple" type="boolean" label="32078" help="32079">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="visible">
							<or>
								<condition operator="is" setting="force-offline">false</condition>
							</or>
						</dependency>
					</dependencies>
				</setting>
				<setting id="enable-checksums" type="boolean" label="32030" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="run-downloader" type="action" label="32011" help="">
					<level>0</level>
					<data>RunAddon(screensaver.atv4,offline)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
