<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="30218">
    <setting id="downloadPath" type="folder" label="30207" default="" />
    <setting id="notification_length" type="enum" label="30212" values="1|2|3|4|5|6|7|8|9|10" default="2" />
    <setting id="timeout" type="enum" label="30265" values="5|10|15|20|25" default="3" />
    <setting id="debug" type="bool" label="30246" default="false" />
  </category>
</settings>