<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Location Settings">
    <setting id="ObservationLocation" label="32000" type="action"
      action="RunScript($ID, ObservationLocation)" default="Heathrow" />
    <setting id="ObservationLocationID" type="text" visible="false" default="3772" />
    <setting id="ForecastLocation" label="32001" type="action"
      action="RunScript($ID, ForecastLocation)" default="London" />
    <setting id="ForecastLocationID" type="text" visible="false" default="352409" />
    <setting id="ForecastLocationLatitude" type="text" visible="false" default="51.5081" />
    <setting id="ForecastLocationLongitude" type="text" visible="false" default="-0.1248" />
  </category>
  <category label="Configuration">
    <setting id="ApiKey" label="32003" type="text" default="" />
    <setting id="GeoLocation" label="32004" type="bool" default="true" />
    <!-- eq(-1, true) is doing a relative compare. If the setting before is true, then this is enabled.-->
    <setting id="GeoIPProvider" label="32005" type="enum"
      values="ip-api.com|geoiplookup.io|ipapi.co|ipwho.is|freeipapi.com" enable="eq(-1,true)" default="0" />
    <setting id="EraseCache" label="32006" type="bool" default="false" />
  </category>
</settings>