<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30001">
		<setting id="w_movies" type="bool" label="30011" default="true" />
		<setting id="w_episodes" type="bool" label="30012" default="true" />

		<setting id="autostart" type="bool" label="30021" default="false" />
		<setting id="delay" type="slider" label="30015" default="5" range="0,5,60" option="int" enable="eq(-1,true)" />
		<!-- starttype: no, one, periodic update -->
		<setting id="starttype" type="enum" label="30013" lvalues="30030|30031|30032" default="0" enable="eq(-2,true)" />
		<setting id="interval" type="slider" label="30014" default="24" range="3,3,96" option="int" enable="eq(-1,2)+eq(-3,true)" />
		<setting id="watch_user" type="bool" label="30022" default="true" enable="eq(-4,true)" />
		<setting id="progressdialog" type="bool" label="30016" default="true" />
		<setting id="verbosity" type="enum" label="30024" lvalues="30025|30026|30027|30028" default="1" />
	</category>

	<category label="30002">
		<setting id="db_format" type="enum" label="30040" lvalues="30041|30042" default="0" />
		<!-- File Database Options (first option in db_format) -->
		<!--<setting label="30043" type="lsep"/>-->
		<setting id="extdb" type="bool" label="30017" default="false" enable="eq(-1,0)" />
		<setting id="dbpath" type="folder" label="30018" default="" enable="eq(-1,true)+eq(-2,0)" />
		<setting id="dbfilename" type="text" label="30019" default="watchedlist.db" enable="eq(-2,true)+eq(-3,0)" />
		<setting id="dbbackupcount" type="slider" label="30020" default="-1" range="-1,1,5" option="int"  enable="eq(-4,0)" />
		<!-- Call the Dropbox Authorization script: Give the Dropbox app kex and the "secret" key. The script will write the authorization code to this field with the provided addon information -->
		<setting id="dropbox_enabled" type="bool" label="30045" default="false" />
    <setting id="dropbox_apikey" type="action" label="30023" action="RunScript(script.module.dropbox, service.watchedlist, dropbox_apikey, bhd2v8hgsmqwcgt, t2cepoevjqyubnd)" enable="eq(-1,true)" />

		<!-- MySQL Database Options (second option in db_format)-->
		<!--<setting label="30044" type="lsep"/>-->
		<setting id="mysql_server" type="text" label="30051" default="127.0.0.1" enable="eq(-7,1)" />
		<setting id="mysql_port" type="number" label="30055" default="3306" enable="eq(-8,1)" />
		<setting id="mysql_db" type="text" label="30052" default="WatchedList" enable="eq(-9,1)" />
		<setting id="mysql_user" type="text" label="30053" default="xbmc" enable="eq(-10,1)" />
		<setting id="mysql_pass" type="text" label="30054" default="xbmc" enable="eq(-11,1)" />
	</category>
</settings>
