<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="128">
        <setting label="19099" type="lsep"/>
		<setting id="service" label="32016" type="bool" default="true"/>
        <setting label="14092" type="lsep"/>
		<setting id="log" label="32002" type="bool" default="false"/>
        <setting label="32020" type="lsep"/>
    	<setting label="32017" type="slider" id="service_interval" default="0.5" range="0.1,0.1,2.0" option="float" />
    	<setting label="32018" type="slider" id="blur_radius" default="2" range="1,1,10" option="int" />
    	<setting label="32021" type="slider" id="background_interval" default="10" range="5,1,30" option="int" />
        <setting label="32003" type="action" action="RunScript(script.embuary.helper,action=deleteimgcache)" />
	</category>
</settings>