<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32120">
        <setting label="32093" type="lsep" visible="!Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting id="enablePVRThumbsRecordingsOnly" type="bool" label="32155" default="false" visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting id="useTMDBLookups" type="bool" label="32094" default="true" visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting id="useFanArtTv" type="bool" label="32095" default="true" enable="eq(-1,true)" visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting id="useGoogleLookups" type="bool" label="32096" default="false" visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting id="useYoutubeLookups" type="bool" label="32097" default="false" visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting id="useLocalLibraryLookups" type="bool" label="32098" default="true" visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting label="32099" type="folder" id="customlookuppath" source="auto" visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting id="cacheRecordings" type="bool" label="32101" default="false" visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting id="cacheGuideEntries" type="bool" label="32102" default="false" visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting label="32103" type="folder" id="pvrthumbspath" source="auto" default="special://profile/addon_data/script.skin.helper.service/pvrthumbs/" option="writeable" visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting label="32106" type="text" id="ignorechannels"  visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting label="32107" type="text" id="ignoretitles"  visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting label="32112" type="text" id="stripwords"  visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting label="32137" type="text" id="splittitlechar"  visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting id="directory_structure" type="select" label="32108" lvalues="32109|32110|32111"  visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
        <setting label="32089" type="action" action="RunScript(script.skin.helper.service,action=RESETCACHE,path=pvr)" visible="Skin.HasSetting(SkinHelper.EnablePVRThumbs)"/>
    </category>
    <category label="32121">
        <setting id="enablewallbackgrounds" type="bool" label="32115" default="true" visible="Skin.String(SkinHelper.RandomFanartDelay) + !Skin.String(SkinHelper.RandomFanartDelay,0)"/>
        <setting id="maxNumWallImages" type="number" label="32160" default="20"/>
        <setting id="reuseWallBackgrounds" type="bool" label="32128" default="true" visible="eq(-2,true) + Skin.String(SkinHelper.RandomFanartDelay) + !Skin.String(SkinHelper.RandomFanartDelay,0)"/>
        <setting label="32129" type="action" action="RunScript(script.skin.helper.service,action=RESETCACHE,path=wallbackgrounds)"/>
    </category>
    <category label="32122">
        <setting id="enableMusicArtScraper" type="bool" label="32123" default="true"/>
        <setting id="enableLocalMusicArtLookup" type="bool" label="32124" default="true"/>
        <setting id="downloadMusicArt" type="bool" label="32125" default="false" visible="eq(-1,true)"/>
        <setting id="preferOnlineMusicArt" type="bool" label="32159" default="false" visible="eq(-1,true)"/>
        <setting label="32126" type="action" action="RunScript(script.skin.helper.service,action=RESETCACHE,path=music)"/>
        <setting label="Precache all artwork" type="action" action="RunScript(script.skin.helper.service,action=CACHEALLMUSICART)" option="close"/>
    </category>
    <category label="32163">
        <setting id="enableWidgetsArtworkLookups" type="bool" label="32164" default="true"/>
        <setting id="enableSpecialsInWidgets" type="bool" label="32165" default="false"/>
    </category>
    <category label="32134">
        <setting id="enableDebugLog" type="bool" label="32135" default="false"/>
        <setting id="maxNumFanArts" type="number" label="32136" default="10"/>
    </category>
</settings>