<?xml version="1.0" ?>
<settings version="1">
    <level>0</level>
	<section id="script.subtitles.zimukux">
		<category id="general" label="30100" help="">
			<group id="1" label="">
                <setting id="ZiMuKuUrl" type="string" label="30101" help="">
                	<level>0</level>
					<control type="edit" format="string">
						<heading>30101</heading>
					</control>
					<default>https://srtku.com</default>
                	<constraints>
                		<allowempty>false</allowempty>
                	</constraints>
                </setting>
				 <setting id="ocr_url" type="string" label="301011" help="">
                	<level>0</level>
					<control type="edit" format="string">
						<heading>301011</heading>
					</control>
                	<default></default>
                	<constraints>
                		<allowempty>false</allowempty>
                	</constraints>
                </setting>
			</group>
		</category>
		<category id="subpref" label="30200" help="">
			<group id="1" label="">
				<setting id="subtype" type="string" label="30210" help="">
					<level>0</level>
					<control type="list" format="string">
						<heading>30210</heading>
					</control>
					<default>none</default>
					<constraints>
						<options>
							<option label="30211">none</option>
							<option label="30212">ass</option>
							<option label="30213">srt</option>
						</options>
					</constraints>
				</setting>
				<setting id="sublang" type="string" label="30220" help="">
					<level>0</level>
					<control type="list" format="string">
						<heading>30220</heading>
					</control>
					<default>none</default>
					<constraints>
						<options>
							<option label="30221">none</option>
							<option label="30222">chs</option>
							<option label="30223">cht</option>
							<option label="30224">dualchs</option>
							<option label="30225">dualcht</option>
						</options>
					</constraints>
				</setting>
				<setting id="cutsubfn" type="boolean" label="30230">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="useyear" type="boolean" label="30240">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="proxy" label="30300" help="">
			<group id="1" label="">
				<setting id="proxy_follow_kodi" type="boolean" label="30310" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="proxy_use" type="boolean" label="30311" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="enable" setting="proxy_follow_kodi">false</dependency>
					</dependencies>
				</setting>
                <setting id="proxy_server" type="string" label="30312" help="">
                	<level>0</level>
					<control type="edit" format="string">
						<heading>30312</heading>
					</control>
                	<default>protocol://[user:pass@]host:port</default>
                	<constraints>
                		<allowempty>true</allowempty>
                	</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition setting="proxy_follow_kodi">false</condition>
								<condition setting="proxy_use">true</condition>
							</and>
						</dependency>
					</dependencies>
                </setting>
			</group>
		</category>		
	</section>
</settings>