<settings>
   <category label="30001">       
      <setting label="30002" type="slider" id="lesezeit" default="6" range="1,1,60" option="int" />
      <setting label="30003" type="bool" id="greyout" default="true"  />
      <setting label="30004" type="bool" id="bild" default="true"  />		
      <setting label="30005" type="number" id="anzahlmeldungen" default="100"  />
    </category>
    <category label="30006">
      <setting label="30007" type="bool" id="spielzeit" default="true" />
      <setting label="30008" type="bool" id="karten" default="true" />
      <setting label="30009" type="bool" id="tor" default="true" />
      <setting label="30010" type="bool" id="elfmeter" default="true" />
      <setting label="30011" type="bool" id="spielerwechsel" default="true" />
      <setting label="30012" type="bool" id="oldmessages" default="true" />
    </category>
	  <category label="30013">
      <setting label="30014" type="bool" id="custom" default="false" />
      <setting label="30015" type="text" id="font" default="font13" enable='eq(-1,true)'/>
      <setting label="30016" type="text" id="fontcolor" default="FFFFFFFF" enable='eq(-2,true)'/>
      <setting label="30017" type="number" id="x-message" default="5" enable='eq(-3,true)'/>        
      <setting label="30018" type="number" id="y-message" default="5" enable='eq(-4,true)'/>        	  
      <setting label="30019" type="number" id="breite-message" default="1280" enable='eq(-5,true)'/>
      <setting label="30020" type="number" id="hoehe-message" default="100" enable='eq(-6,true)'/>        	  	  
      <setting label="30021" type="number" id="breite-bild1" default="100" enable='eq(-7,true)' />        
      <setting label="30022" type="number" id="hoehe-bild1" default="100" enable='eq(-8,true)'/>        
      <setting label="30023" type="number" id="breite-bild2" default="100" enable='eq(-7,true)' />        
      <setting label="30024" type="number" id="hoehe-bild2" default="100" enable='eq(-8,true)'/> 
    </category>
</settings>
 
