<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="Enable_Mute"    type="bool"   label="30003"  default="true"/>
    <setting id="Enable_Random"  type="bool"   label="32000"  default="true"/>
    <setting id="Download"       type="action" label="32001"  action="RunScript($CWD/download.py)"/>
    <setting id="AKEY"           type="text"   label="32000"  default="QUl6YVN5QlJlZ3VpYkhEaTRtU2I4NGpoWkVCaWpEVHJFSnhTcllF" option="hidden" enable="false" visible="false" />
    <setting id="CKEY"           type="text"   label="32000"  default="NDUwNTk0NDg0NDQzLXViZzhnMW1zZzgzaW9vNWxvNzkxdWMwYjlnb2JkdXV1LmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29t" option="hidden" enable="false" visible="false" />
    <setting id="SKEY"           type="text"   label="32000"  default="ME9oNVhHcjl0a2ppZlplM2NkZ3dhcDA1" option="hidden" enable="false" visible="false" />
</settings>
        