<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="32002" type="action" action="RunScript(script.service.miracle, repair)"/>
        <setting id="kodi_id" visible="false" type="text" default="" />
        <setting id="is_paired" visible="false" type="bool" default="false" />
    </category>
</settings>
