<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
        <setting id="show_notifications" type="bool" label="32001" default="true" />
        <setting id="enable_event_triggers" type="bool" label="32002" default="true" />
        <setting id="default_url_prefix" type="text" label="32003" default="" />
    </category>
</settings>
