<settings>
  <setting id="irc_host" type="text" label="32006" default="" />
  <setting id="channel_name" type="text" label="32007" default="" />
  <setting id="nickname" type="text" label="32008" default="" />
  <setting id="username" type="text" label="32009" default="" />
  <setting id="password" type="text" label="32010" default="None" option="hidden" />
  <setting id="realname" type="text" label="32011" default="Anonymous" />
  <setting id="hostname" type="text" label="32012" default="Unknown" />
  <setting id="servername" type="text" label="32013" default="Server" />
  <setting id="port" type="text" label="32014" default="6667"/>
</settings>