<?xml version="1.0" encoding="utf-8"?>
<settings>
  <category id="display" label="33100">
    <setting type="lsep" label="33101"/>
    <setting id="display_method" type="select" label="33102" help="33103" lvalues="33110|33111|33112|33113|33114|33115|33116|33117" default="1"/>
    <setting id="display_label" type="text" label="33103" enable="false" />
    <setting id="cec_label" type="text" label="33104" enable="false" />
    <setting id="rpi_label" type="text" label="33105" enable="false" />
    <setting id="dpms_label" type="text" label="33106" enable="false" />
    <setting id="deactivate_label" type="text" label="33107" enable="false" />
    <setting id="deactivate_note" type="text" label="33108" enable="false" />
  </category>
  <category id="power" label="33200">
    <setting type="lsep" label="33201"/>
    <setting id="power_method" type="select" label="33202" help="33203" lvalues="33210|33211|33212|33213|33214|33215|33216|33217" default="0"/>
    <setting id="power_label" type="text" label="33203" enable="false" />
  </category>
  <category id="options" label="33300">
    <setting type="lsep" label="33301"/>
    <setting id="logoff" type="bool" label="33311" help="33312" default="false"/>
    <setting id="logoff_label" type="text" label="33312" enable="false" />
    <setting id="mute" type="bool" label="33321" help="33322" default="true"/>
    <setting id="mute_label" type="text" label="33322" enable="false" />
  </category>
</settings>
