<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
      <setting id="AutoInvokeSubsDialog" type="bool" label="32010" default="true"/>
      <setting id="NoAutoInvokeIfLocalUnprocSubsFound" type="bool" label="32013" default="true" subsetting="true" enable="eq(-1,true)"/>
      <setting type="sep"/>
      <setting id="LogLevel" type="select" label="32020" lvalues="32022|32023|32024|32025|32026|32027|32028|32029" default="2"/>
      <setting id="SeparateLogFile" type="enum" label="32030" lvalues="32031|32032" default="1"/>
      <setting type="sep"/>
      <setting id="ShowNoautosubsContextItem" type="bool" label="32033" default="true"/>
    </category>
    <category label="32080">
      <setting id="ConversionServiceEnabled" type="bool" label="32002" default="true"/>
      <setting id="AlsoConvertExistingSubtitles" type="bool" label="32012" default="true" subsetting="true" enable="eq(-1,true)"/>
      <setting type="sep"/>
      <setting id="SubsFontSize" type="slider" label="32003" default="18" range="10,30" option="int" enable="eq(-3,true)"/>
      <setting id="ForegroundColor" type="select" label="32049" lvalues="32051|32052|32053|32054|32055|32056|32057|32058|32059" default="8" enable="eq(-4,true)"/>
      <setting id="BackgroundColor" type="select" label="32050" lvalues="32051|32052|32053|32054|32055|32056|32057|32058|32059" default="0" enable="eq(-5,true)"/>
      <setting id="BackgroundTransparency" type="slider" label="32007" default="0" range="0,100" option="percent" enable="eq(-6,true)"/>
      <setting id="MaintainBiggerLineSpacing" type="bool" label="32075" default="false" enable="eq(-7,true)"/>
      <setting type="sep"/>
      <setting id="RemoveCCmarks" type="bool" label="32004" default="true" enable="eq(-9,true)"/>
      <setting id="RemoveAdds" type="bool" label="32005" default="true" enable="eq(-10,true)"/>
      <setting id="AdjustSubDisplayTime" type="bool" label="32081" default="true" enable="eq(-11,true)"/>
      <setting id="PauseOnConversion" type="bool" label="32011" default="true" enable="eq(-12,true)"/>
      <setting id="BackupOldSubs" type="bool" label="32071" default="true" enable="eq(-13,true)"/>
      <setting type="sep"/>
      <setting id="AutoUpdateDef" type="bool" label="32006" default="true" enable="eq(-15,true)"/>
    </category>
    <category label="32048">
      <setting id="AutoRemoveOldSubs" type="bool" label="32070" default="true"/>
      <setting id="RemoveSubsBackup" type="bool" label="32072" default="true" subsetting="true" enable="eq(-1,true)"/>
      <setting id="RemoveUnprocessedSubs" type="bool" label="32074" default="false" subsetting="true" enable="eq(-2,true)"/>
      <setting id="SimulateRemovalOnly" type="bool" label="32073" default="true" subsetting="true" enable="eq(-3,true)"/>
      <setting type="sep"/>
    </category>
</settings>
