<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="128">
                <setting label="TheMovieDB" type="lsep"/>
                <setting label="$ADDON[script.embuary.info 32024]" type="select" values="ar-AE|ar-SA|bg|bn|ca|ch|cs|da|de|el|en|eo|es-ES|es-MX|eu|fa|fi|fr-CA|fr-FR|he|hi|hu|id|it|ja|ka|kn|ko|lt|ml|nb|nl|no|pl|pt-BR|pt-PT|ro|ru|sk|sl|sr|sv|ta|te|th|tr|uk|vi|zh-CN|zh-TW" id="language_code" default="en"/>
                <setting label="$ADDON[script.embuary.info 32003]" type="select" values="AU|BG|BR|CA|DE|DK|ES|FI|FR|GB|HU|IN|IT|KR|LT|MY|NL|NO|NZ|PH|PT|RU|SE|SK|TH|US" id="country_code" default="US"/>
                <setting label="$ADDON[script.embuary.info 32023]" type="text" id="tmdb_api_key" default="fc168650632c6597038cf7072a7c20da"/>
                <setting label="OMDB $ADDON[script.embuary.info 32002]" type="lsep"/>
                <setting label="$ADDON[script.embuary.info 32023]" type="text" id="omdb_api_key"/>
                <setting label="Trakt.tv" type="lsep"/>
                <setting label="$ADDON[script.embuary.info 32023]" type="text" id="trakt_api_key" default="db17981042166c60e1642c483f5be54b12ec86e3401cd67c2514fdf6843a110f"/>
                <setting label="$ADDON[script.embuary.info 32026]" type="lsep"/>
                <setting label="$ADDON[script.embuary.info 32027]" type="bool" id="filter_shows" default="true"/>
                <setting label="$ADDON[script.embuary.info 32028]" type="bool" id="filter_movies" default="false"/>
                <setting label="$ADDON[script.embuary.info 32041]" type="bool" id="similar_movies_filter" default="false"/>
                <setting label="$ADDON[script.embuary.info 32044]" type="bool" id="filter_upcoming" default="false"/>
                <setting label="- $ADDON[script.embuary.info 32045]" type="slider" id="filter_daydelta" default="180" range="0,30,360" option="int" enable="eq(-1,true)"/>
                <setting label="$ADDON[script.embuary.info 32047]" type="action" action="InstallAddon(context.embuary.info)" visible="!System.HasAddon(context.embuary.info)"/>
                <setting label="$ADDON[script.embuary.info 32020]" type="lsep"/>
                <setting label="$ADDON[script.embuary.info 32021]" type="bool" id="cache_enabled" default="true"/>
        </category>
</settings>