<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="32001">
    <setting label="32002" type="action" id="backend" action="XBMC.NotifyAll(service.xbmc.tts,SETTINGS.BACKEND_DIALOG)"/>
    <!-- IF EDITING, PLEASE NOTE: if you insert a setting for a backend, you need to increment the visible condition for each following backend setting -->
    <!-- Flite -->
    <setting visible="eq(-1,Flite)" id="voice.Flite" subsetting="true" label="32003" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"Flite\",\"voice\"]")' />
    <setting visible="eq(-2,Flite)" id="output_via_flite.Flite" label="32008" type="bool" subsetting="true" default="false" />
    <setting visible="eq(-3,Flite)" id="player.Flite" enable="eq(-1,false)" subsetting="true" label="32007" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.PLAYER_DIALOG,{"backend":"Flite"})' />
    <setting visible="eq(-4,Flite) + eq(-2,false)" id="speed.Flite" enable="eq(-1,sox) | eq(-1,mplayer)" label="32009" type="slider" subsetting="true" option="int" default="100" range="20,200" />
    <setting visible="eq(-5,Flite) + eq(-3,false)" id="volume.Flite" enable="eq(-2,sox) | eq(-2,mplayer) | eq(-2,paplay)" label="32010" type="slider" subsetting="true" option="int" default="0" range="-12,12" />

    <!-- eSpeak -->
    <setting visible="eq(-6,eSpeak-ctypes)" id="voice.eSpeak-ctypes" subsetting="true" label="32003" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"eSpeak-ctypes\",\"voice\"]")' />

    <setting visible="eq(-7,eSpeak)" id="voice.eSpeak" subsetting="true" label="32003" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"eSpeak\",\"voice\"]")' />
    <setting visible="eq(-8,eSpeak)" id="speed.eSpeak" label="32011" type="slider" subsetting="true" option="int" default="175" range="80,450" />
    <setting visible="eq(-9,eSpeak)" id="pitch.eSpeak" label="32005" type="slider" subsetting="true" option="int" default="50" range="0,99" />
    <setting visible="eq(-10,eSpeak)" id="output_via_espeak.eSpeak" label="32012" type="bool" subsetting="true" default="false" />
    <setting visible="eq(-11,eSpeak)" id="player.eSpeak" subsetting="true" label="32007" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.PLAYER_DIALOG,{"backend":"eSpeak"})' enable="eq(-1,false)" />
    <setting visible="eq(-12,eSpeak)" id="pipe.eSpeak" label="32013" type="bool" subsetting="true" default="false"  enable="eq(-2,false)" />
    <setting visible="eq(-13,eSpeak)" id="volume.eSpeak" label="32010" type="slider" subsetting="true" option="int" default="0" range="-12,12" />

    <!-- SAPI -->
    <setting visible="eq(-14,SAPI)" id="voice.SAPI" subsetting="true" label="32003" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"SAPI\",\"voice\"]")' />
    <setting visible="eq(-15,SAPI)" id="speed.SAPI" label="32004" type="slider" subsetting="true" option="int" default="0" range="-10,10" />
    <setting visible="eq(-16,SAPI)" id="pitch.SAPI" label="32005" type="slider" subsetting="true" option="int" default="0" range="-10,10" />
    <setting visible="eq(-17,SAPI)" id="volume.SAPI" label="32014" type="slider" subsetting="true" option="percent" default="100" range="0,100" />
    <setting visible="eq(-18,SAPI)" id="speak_via_xbmc.SAPI" label="32015" type="bool" subsetting="true" default="true" />

    <!-- pico2wave -->
    <setting visible="eq(-19,pico2wave)" id="language.pico2wave" subsetting="true" label="32016" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"pico2wave\",\"language\"]")' />
    <setting visible="eq(-20,pico2wave)" id="player.pico2wave" subsetting="true" label="32007" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.PLAYER_DIALOG,{"backend":"pico2wave"})' />
    <setting visible="eq(-21,pico2wave)" id="speed.pico2wave" enable="eq(-1,sox) | eq(-1,mplayer)" label="32009" type="slider" subsetting="true" option="int" default="100" range="20,200" />
    <setting visible="eq(-22,pico2wave)" id="volume.pico2wave" enable="eq(-2,sox) | eq(-2,mplayer) | eq(-2,paplay)" label="32010" type="slider" subsetting="true" option="int" default="0" range="-12,12" />

	<!-- Cepstral -->
    <setting visible="eq(-23,Cepstral)" id="voice.Cepstral" subsetting="true" label="32003" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"Cepstral\",\"voice\"]")' />
    <setting visible="eq(-24,Cepstral)" id="use_aoss.Cepstral" subsetting="true" label="32017" type="bool" default="false" />
    <setting visible="eq(-25,Cepstral)" id="speed.Cepstral" label="32011" type="slider" subsetting="true" option="int" default="170" range="80,450" />
    <setting visible="eq(-26,Cepstral)" id="pitch.Cepstral" label="32005" type="slider" subsetting="true" option="int" default="0" range="-6,14" />
    <setting visible="eq(-27,Cepstral)" id="volume.Cepstral" label="32010" type="slider" subsetting="true" option="int" default="0" range="-12,12" />

    <!-- OSX Say -->
    <setting visible="eq(-28,OSXSay)" id="voice.OSXSay" subsetting="true" label="32003" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"OSXSay\",\"voice\"]")' />
    <setting visible="eq(-29,OSXSay)" id="speed.OSXSay" label="32011" type="slider" subsetting="true" option="int" default="200" range="80,450" />
    <setting visible="eq(-30,OSXSay)" id="volume.OSXSay" label="32014" type="slider" subsetting="true" option="percent" default="100" range="0,100" />

    <!-- Festival -->
    <setting visible="eq(-31,Festival)" id="voice.Festival" subsetting="true" label="32003" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"Festival\",\"voice\"]")' />
    <setting visible="eq(-32,Festival)" id="player.Festival" subsetting="true" label="32007" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.PLAYER_DIALOG,{"backend":"Festival"})' />
    <setting visible="eq(-33,Festival)" id="speed.Festival" label="32006" type="slider" subsetting="true" option="int" default="0" range="-16,12" />
    <setting visible="eq(-34,Festival)" id="pitch.Festival" label="32005" type="slider" subsetting="true" option="int" default="105" range="50,500" />
    <setting visible="eq(-35,Festival)" id="volume.Festival" label="32010" type="slider" subsetting="true" option="int" default="0" range="-12,12" />

    <!-- Google -->
    <setting visible="eq(-36,Google)" id="language.Google" subsetting="true" label="32016" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"Google\",\"language\"]")' />
    <setting visible="eq(-37,Google)" id="player.Google" subsetting="true" label="32007" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.PLAYER_DIALOG,{"backend":"Google"})' />
    <setting visible="eq(-38,Google)" id="pipe.Google" label="32013" type="bool" subsetting="true" default="false" />
    <setting visible="eq(-39,Google)" enable="eq(-2,sox) | eq(-2,mplayer) | eq(-2,afplay)" id="volume.Google" label="32010" type="slider" subsetting="true" option="int" default="0" range="-12,12" />
    <!-- Speech Dispatcher -->
    <setting visible="eq(-40,Speech-Dispatcher)" id="module.Speech-Dispatcher" subsetting="true" label="32018" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"Speech-Dispatcher\",\"module\"]")' />
    <setting visible="eq(-41,Speech-Dispatcher)" id="voice.Speech-Dispatcher" subsetting="true" label="32003" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"Speech-Dispatcher\",\"voice\"]")' />
    <setting visible="eq(-42,Speech-Dispatcher)" id="speed.Speech-Dispatcher" label="32006" type="slider" subsetting="true" option="int" default="0" range="-100,100" />
    <setting visible="eq(-43,Speech-Dispatcher)" id="pitch.Speech-Dispatcher" label="32005" type="slider" subsetting="true" option="int" default="0" range="-100,100" />
    <setting visible="eq(-44,Speech-Dispatcher)" id="volume.Speech-Dispatcher" label="32014" type="slider" subsetting="true" option="percent" default="100" range="0,200" />

    <!-- ttsd -->
    <setting visible="eq(-45,ttsd)" label="32019" type="lsep"/> <!-- SERVER -->
    <setting visible="eq(-46,ttsd)" id="perl_server.ttsd" subsetting="true" label="32020" type="bool" default="true" />
    <setting visible="eq(-47,ttsd)" id="speak_on_server.ttsd" subsetting="true" label="32021" type="bool" default="false" enable="eq(-1,false)" />
    <setting visible="eq(-48,ttsd)" id="engine.ttsd" subsetting="true" label="32001" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"ttsd\",\"engine\"]")' enable="eq(-2,false)" />

    <setting visible="eq(-49,ttsd) + eq(-3,false) + eq(-1,Flite)" id="voice.Flite.ttsd" subsetting="true" label="32003" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"ttsd\",\"voice.Flite\",\"Flite\"]")' />
    <setting visible="eq(-50,ttsd) + eq(-4,false) + eq(-2,eSpeak)" id="voice.eSpeak.ttsd" subsetting="true" label="32003" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"ttsd\",\"voice.eSpeak\",\"eSpeak\"]")' />
    <setting visible="eq(-51,ttsd) + eq(-5,false) + eq(-3,SAPI)" id="voice.SAPI.ttsd" subsetting="true" label="32003" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"ttsd\",\"voice.SAPI\",\"SAPI\"]")' />
    <setting visible="eq(-52,ttsd) + eq(-6,false) + eq(-4,Cepstral)" id="voice.Cepstral.ttsd" subsetting="true" label="32003" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"ttsd\",\"voice.Cepstral\",\"Cepstral\"]")' />
    <setting visible="eq(-53,ttsd) + eq(-7,false) + eq(-5,OSXSay)" id="voice.OSXSay.ttsd" subsetting="true" label="32003" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"ttsd\",\"voice.OSXSay\",\"OSXSay\"]")' />
    <setting visible="eq(-54,ttsd) + eq(-8,false) + eq(-6,Festival)" id="voice.Festival.ttsd" subsetting="true" label="32003" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.SETTING_DIALOG,"[\"ttsd\",\"voice.Festival\",\"Festival\"]")' />
    <setting visible="eq(-55,ttsd) + eq(-9,true)" id="voice.ttsd" subsetting="true" label="32003" type="action" action="RunScript(service.xbmc.tts,voice_dialog,ttsd)" />

    <setting visible="eq(-56,ttsd)" enable="eq(-8,eSpeak) | eq(-8,SAPI) | eq(-8,pico2wave) | eq(-8,Festival)" id="remote_speed.ttsd" label="32022" type="slider" subsetting="true" option="int" default="0" range="-20,20" />
    <setting visible="eq(-57,ttsd)" enable="eq(-9,eSpeak) | eq(-9,Festival) | eq(-9,SAPI)" id="remote_pitch.ttsd" label="32023" type="slider" subsetting="true" option="int" default="0" range="-50,50" />
    <setting visible="eq(-58,ttsd)" enable="eq(-12,false)" id="remote_volume.ttsd" label="32024" type="slider" subsetting="true" option="int" default="0" range="-12,12" />
    <setting visible="eq(-59,ttsd)" label="32007" type="lsep"/> <!-- PLAYER -->
    <setting visible="eq(-60,ttsd)" enable="eq(-13,false)" id="player.ttsd" subsetting="true" label="32007" type="action" action='XBMC.NotifyAll(service.xbmc.tts,SETTINGS.PLAYER_DIALOG,{"backend":"ttsd"})' />
    <setting visible="eq(-61,ttsd)" enable="eq(-14,false)" id="pipe.ttsd" label="32013" type="bool" subsetting="true" default="false" />
    <setting visible="eq(-62,ttsd)" enable="eq(-2,sox) | eq(-2,mplayer) | eq(-2,afplay)" id="player_speed.ttsd" label="32025" type="slider" subsetting="true" option="int" default="100" range="20,200" />
    <setting visible="eq(-63,ttsd)" enable="eq(-3,sox) | eq(-3,mplayer) | eq(-3,paplay) | eq(-3,afplay)" id="player_volume.ttsd" label="32026" type="slider" subsetting="true" option="int" default="0" range="-12,12" />
    <setting visible="eq(-64,ttsd)" label="Connection" type="lsep"/> <!-- Connection -->
    <setting visible="eq(-65,ttsd)" id="host.ttsd" subsetting="true" label="32027" type="ipaddress" default="127.0.0.1" />
    <setting visible="eq(-66,ttsd)" id="port.ttsd" subsetting="true" label="32028" type="number" default="8256" />

  </category>
  <category label="32029">
	<setting label="32032" type="bool" id="reader_off" default="false" />
    <setting label="32033" type="bool" id="auto_item_extra" default="false" />
    <setting label="32034" type="slider" id="auto_item_extra_delay" subsetting="true" option="int" default="2" range="1,60" enable="eq(-1,true)" />
    <setting label="32035" type="bool" id="speak_list_count" default="true" />
	<setting label="32036" type="bool" id="speak_background_progress" default="false" />
    <setting label="32037" type="slider" id="background_progress_interval" subsetting="true" option="int" default="5" range="0,60" enable="eq(-1,true)" />
	<setting label="32038" type="bool" id="speak_background_progress_during_media" subsetting="true" default="false" enable="eq(-2,true)" />
  </category>
  <category label="32030">
    <setting id="ACTION_KEYMAP_INSTALL_DEFAULT" label="32039" type="action" action="RunScript(service.xbmc.tts,keymap.INSTALL_DEFAULT)"/>
    <setting id="ACTION_KEYMAP_INSTALL_CUSTOM" label="32040" type="action" action="RunScript(service.xbmc.tts,keymap.INSTALL_CUSTOM)"/>
    <setting id="ACTION_KEYMAP_EDIT" label="32041" type="action" action="RunScript(service.xbmc.tts,keymap.EDIT)"/>
    <setting id="ACTION_KEYMAP_RESET" label="32042" type="action" action="RunScript(service.xbmc.tts,keymap.RESET)"/>
    <setting id="ACTION_KEYMAP_REMOVE" label="32043" type="action" action="RunScript(service.xbmc.tts,keymap.REMOVE)"/>
  </category>
  <category label="32031">
    <setting label="32044" type="bool" id="use_tmpfs" default="true" />
    <setting label="32045" type="bool" id="disable_broken_backends" default="true" />
    <setting label="32046" type="bool" id="debug_logging" default="false" />
    <setting label="32047" type="bool" id="override_poll_interval" default="false" />
    <setting label="32048" type="slider" id="poll_interval" subsetting="true" option="int" default="100" range="50,1000" enable="eq(-1,true)" />
  </category>
</settings>
