<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="Update" type="action" label="32007" action="RunScript(script.tv.show.next.aired,force=True)"/>
	<setting id="Reset" type="action" label="32012" action="RunScript(script.tv.show.next.aired,reset=True)"/>
	<setting type="lsep" label="32000"/>
	<setting id="ThumbType" type="enum" label="32001" default="0" values="Poster|Banner|Logo"/>
	<setting id="DownloadPosters" type="action" subsetting="true" label="32011" action="RunScript(script.artwork.downloader,mediatype=tvshow,mode=custom,poster)" visible="lt(-1,1)"/>
	<setting id="DownloadBanners" type="action" subsetting="true" label="32002" action="RunScript(script.artwork.downloader,mediatype=tvshow,mode=custom,banner)" visible="gt(-2,0) + lt(-2,2)"/>
	<setting id="DownloadLogos" type="action" subsetting="true" label="32003" action="RunScript(script.artwork.downloader,mediatype=tvshow,mode=custom,clearlogo)" visible="gt(-3,1) + lt(-3,3)"/>
	<setting id="BackgroundFanart" type="bool" label="32004" default="False"/>
	<setting id="PreviewThumbs" type="bool" label="32005" default="False"/>
	<setting id="DownloadPreviewThumbs" type="action" subsetting="true" label="32006" action="RunScript(script.artwork.downloader,mediatype=tvshow,mode=custom,tvthumb)" visible="eq(-1,true)"/>
	<setting id="ShowAllTVShowsOnHome" type="bool" label="32013" default="False"/>
	<setting id="ImproveDates" type="bool" label="32014" default="False"/>
	<setting type="lsep" label="32008"/>
	<setting id="update_every" type="labelenum" label="32009" subsetting="true" values="off|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24" default="8"/>
	<setting id="update_after" type="labelenum" label="32010" subsetting="true" values="off|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24" default="8"/>
</settings>
