<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="Settings">
		<setting label="Never hide PVR shortcuts" type="bool" id="donthidepvr" default="false"/>
		<setting label="Share menu between compatible skins" type="bool" id="shared_menu" default="true"/>
		<setting label="Enable debug logging" type="bool" id="enable_logging" default="false"/>
	</category>
</settings>
