<?xml version="1.0" ?>
<settings version="1">
    <section id="script.plex">

        <!-- General -->
        <category id="general" label="32000">
            <group id="1" label="">
                <!-- <setting id="transcode_format" label="32023" type="labelenum" values="mkv|hls" default="mkv" /> -->

                <!-- <setting id="playback_directplay_force" type="boolean" label="32027" enable="eq(-1,true)" subsetting="true" /> -->
                <setting id="debug" type="boolean" label="32024">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="debug_requests" type="boolean" label="33717">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="kiosk.always" type="boolean" label="33735" help="33736">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="subtitle_use_extended_title" type="boolean" label="32950" help="32951">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="unlock_res" type="boolean" label="34030">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="poster_resolution_scale_perc" type="integer" label="32956" help="32957">
                    <level>0</level>
                    <default>100</default>
                    <constraints>
                        <minimum>25</minimum>
                        <step>25</step>
                        <maximum>750</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="background_resolution_scale_perc" type="integer" label="33653" help="33654">
                    <level>0</level>
                    <default>100</default>
                    <constraints>
                        <minimum>25</minimum>
                        <step>25</step>
                        <maximum>750</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="retrieve_all_media_up_front" type="boolean" label="32969" help="32970">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="library_chunk_size" type="string" label="32971" help="32972">
                    <level>0</level>
                    <default>240</default>
                    <constraints>
                        <options>
                            <option>60</option>
                            <option>120</option>
                            <option>180</option>
                            <option>240</option>
                            <option>360</option>
                            <option>540</option>
                        </options>
                        <allowempty>false</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="enable" setting="retrieve_all_media_up_front">false</dependency>
                    </dependencies>
                    <control type="list" format="string"/>
                </setting>
                <setting id="playlist_max_size" type="integer" label="33738" help="33739">
                    <level>0</level>
                    <default>500</default>
                    <constraints>
                        <minimum>100</minimum>
                        <step>50</step>
                        <maximum>10000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="hubs_round_robin" type="boolean" label="33043">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="hubs_rr_max" type="integer" label="33047" help="33048">
                    <level>0</level>
                    <default>250</default>
                    <constraints>
                        <minimum>50</minimum>
                        <step>50</step>
                        <maximum>5000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                        <dependency type="enable" setting="hubs_round_robin">true</dependency>
                    </dependencies>
                </setting>
                <setting id="cache_home_users" type="boolean" label="33018">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <!-- Player -->
        <category id="player" label="32464">
            <group id="2" label="">
                <setting id="osd_hide_delay" type="number" label="33715" help="33716">
                    <level>0</level>
                    <default>4</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>15</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                        <dependency type="enable" setting="auto_seek">true</dependency>
                    </dependencies>
                </setting>
                <setting id="auto_seek" type="boolean" label="32466" help="32900">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="auto_seek_delay" parent="auto_seek" type="number" label="32487" help="32901">
                    <level>0</level>
                    <default>1</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>0.1</step>
                        <maximum>5</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                        <dependency type="enable" setting="auto_seek">true</dependency>
                    </dependencies>
                </setting>
                <setting id="kodi_skip_stepping" type="boolean" label="32465" help="32902">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="dynamic_timeline_seek" type="boolean" label="32471" help="32903">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="coreelec_resume_seek_wait" type="integer" label="33649" help="33650">
                    <level>0</level>
                    <default>850</default>
                    <constraints>
                        <minimum>500</minimum>
                        <step>50</step>
                        <maximum>5000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="altseek_valid_seek_window" type="integer" label="34028" help="34029">
                    <level>0</level>
                    <default>2000</default>
                    <constraints>
                        <minimum>500</minimum>
                        <step>100</step>
                        <maximum>15000</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="show_media_ends_info" type="boolean" label="32540" help="32541">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_media_ends_label" type="boolean" label="32542" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="enable" setting="show_media_ends_info">true</dependency>
                    </dependencies>
                </setting>
                <setting id="player_show_buffer" type="boolean" label="32912" help="32913">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="buffer_wait_max" type="integer" label="32918" help="32919">
                    <level>0</level>
                    <default>120</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>600</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="buffer_insufficient_wait" type="integer" label="32920" help="32921">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>600</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="consecutive_video_pb_wait" type="number" label="32963" help="32964">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>0.1</step>
                        <maximum>5</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
            </group>
        </category>
        <!-- Markers -->
        <category id="markers" label="33612">
            <group id="3" label="">
                <setting id="auto_skip_offset" type="number" label="33629" help="33630">
                    <level>0</level>
                    <default>1</default>
                    <constraints>
                        <minimum>-10</minimum>
                        <step>0.5</step>
                        <maximum>10</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <heading>33630</heading>
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="skip_intro_button_timeout" type="integer" label="32521" help="32524">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>40</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>32524</heading>
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="skip_credits_button_timeout" type="integer" label="32525" help="32528">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>40</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>32528</heading>
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="skip_intro_button_show_early_threshold2" type="integer" label="33509" help="33510">
                    <level>0</level>
                    <default>120</default>
                    <constraints>
                        <minimum>10</minimum>
                        <step>10</step>
                        <maximum>1800</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>33510</heading>
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="intro_marker_max_offset" type="integer" label="33037" help="33038">
                    <level>0</level>
                    <default>1400</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>10</step>
                        <maximum>3600</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>33510</heading>
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="skip_marker_timer_cancel" type="boolean" label="32906" help="32907">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="skip_marker_timer_immediate" type="boolean" label="32908" help="32909">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <!-- UI -->
        <category id="user_interface" label="32467">
            <group id="4" label="">
                <setting id="fast_back" type="boolean" label="32485">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="postplay_always" type="boolean" label="32500">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="dynamic_backgrounds" type="boolean" label="32468">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="dbg_crossfade" type="boolean" label="32943">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                    <dependencies>
                      <dependency type="enable" setting="dynamic_backgrounds">true</dependency>
                  </dependencies>
                </setting>
                <setting id="background_colour" type="string" label="33200" help="33201">
                  <level>0</level>
                  <default>-</default> <!-- Black -->
	              <control type="colorbutton" />
                  <dependencies>
                      <dependency type="enable" setting="dynamic_backgrounds">false</dependency>
                  </dependencies>
                </setting>
                <setting id="background_art_blur_amount2" type="integer" label="32469">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>256</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                      <dependency type="enable" setting="dynamic_backgrounds">true</dependency>
                    </dependencies>
                </setting>
                <setting id="background_art_opacity_amount2" type="integer" label="32470">
                    <level>0</level>
                    <default>20</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>100</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                    <dependencies>
                      <dependency type="enable" setting="dynamic_backgrounds">true</dependency>
                    </dependencies>
                </setting>
                <setting id="use_bg_fallback" type="boolean" label="32929">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                      <dependency type="enable" setting="dynamic_backgrounds">true</dependency>
                    </dependencies>
                </setting>
                <setting id="continue_use_thumb" type="boolean" label="32927" help="32928">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="episode_no_spoiler_blur" type="integer" label="33009">
                    <level>0</level>
                    <default>16</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>256</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="playlist_visit_media" type="boolean" label="32505">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="postplay_timeout" type="integer" label="32501" help="32904">
                    <level>0</level>
                    <default>16</default>
                    <constraints>
                        <minimum>2</minimum>
                        <step>1</step>
                        <maximum>60</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="postplay_cancel" type="boolean" label="32905">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="screensaver" label="32488">
            <group id="5" label="">
                <setting id="screensaver_quiz" type="boolean" label="32489">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="system" label="33600">
            <group id="6" label="">
                <setting id="cache_templates" type="boolean" label="33066" help="33067">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="always_compile_templates" type="boolean" label="33068" help="33069">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="verify_mapped_files" type="boolean" label="33002" help="33003">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="ignore_docker_v4" type="boolean" label="33014" help="33015">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="max_shutdown_wait" type="number" label="34016" help="34017">
                    <level>0</level>
                    <default>5</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>360</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="honor_plextv_dnsrebind" type="boolean" label="33645" help="33646">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="honor_plextv_pam" type="boolean" label="33647" help="33648">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="use_cert_bundle" type="string" label="33051" help="33052">
                    <level>0</level>
                    <default>acme</default>
                    <constraints>
                        <options>
                            <option label="33053">system</option>
                            <option label="33054">acme</option>
                            <option label="33055">custom</option>
                        </options>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="list" format="string"/>
                </setting>
                <setting id="requests_timeout_connect" type="number" label="33620" help="33621">
                    <level>0</level>
                    <default>5</default>
                    <constraints>
                        <minimum>0.5</minimum>
                        <step>0.5</step>
                        <maximum>60</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="requests_timeout_read" type="number" label="33636" help="33637">
                    <level>0</level>
                    <default>5</default>
                    <constraints>
                        <minimum>0.5</minimum>
                        <step>0.5</step>
                        <maximum>60</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="plextv_timeout_connect" type="number" label="33638" help="33639">
                    <level>0</level>
                    <default>1</default>
                    <constraints>
                        <minimum>0.5</minimum>
                        <step>0.5</step>
                        <maximum>60</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="plextv_timeout_read" type="number" label="33640" help="33641">
                    <level>0</level>
                    <default>2</default>
                    <constraints>
                        <minimum>0.5</minimum>
                        <step>0.5</step>
                        <maximum>60</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="conn_check_timeout" type="number" label="33632" help="33633">
                    <level>0</level>
                    <default>2.5</default>
                    <constraints>
                        <minimum>0.5</minimum>
                        <step>0.5</step>
                        <maximum>20</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="local_reach_timeout" type="number" label="33622" help="33623">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="max_retries1" type="number" label="33049" help="33050">
                    <level>0</level>
                    <default>3</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>20</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="tickrate" type="number" label="33098" help="33099">
                    <level>0</level>
                    <default>1.0</default>
                    <constraints>
                        <minimum>0.5</minimum>
                        <step>0.5</step>
                        <maximum>10</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="worker_count" type="number" label="32981" help="32982">
                    <level>0</level>
                    <default>3</default>
                    <constraints>
                        <minimum>2</minimum>
                        <step>1</step>
                        <maximum>32</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="requests_cache_expiry" type="number" label="33729">
                    <level>0</level>
                    <default>168</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>8760</maximum>
                    </constraints>
                    <control type="slider" format="number">
                        <popup>false</popup>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>
