<?xml version="1.0" ?>
<settings version="1">
	<section id="addon">
		<category id="30000" label="30000">
			<group id="1">
				<setting help="" id="lastfmsubmitsongs" label="30001" type="boolean">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting help="" id="lastfmsubmitvideos" label="30006" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting help="" id="lastfmsubmitradio" label="30002" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting help="" id="lastfmuser" label="30003" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control format="string" type="edit">
						<heading>30003</heading>
					</control>
				</setting>
				<setting help="" id="lastfmpass" label="30004" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control format="string" type="edit">
						<heading>30004</heading>
						<hidden>true</hidden>
					</control>
				</setting>
				<setting help="" id="lastfmconfirm" label="30005" type="boolean">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting help="" id="Debug" label="30009" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting help="" id="lastfmkey" label="" type="string">
					<visible>false</visible>
					<level>4</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control format="string" type="edit">
						<heading></heading>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>
