<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32002">
		<setting id="excludedScreensavers" type="addon" label="Excluded Screensavers" default="" addontype="xbmc.ui.screensaver" multiselect="true" />
    	<setting label="32003" type="lsep"/>
		<setting id="logEnabled" type="bool" label="32004" default="false"/>
		<setting label="32005" type="lsep"/>
		<setting label="32006" type="action" action="RunScript($CWD/check.py)"/>
	</category>
</settings>
