[MESSAGES CONTROL]
disable=
    bad-option-value,
    duplicate-code,
    fixme,
    import-outside-toplevel,
    line-too-long,
    missing-docstring,
    old-style-class,
    super-on-old-class,
    too-few-public-methods,
    too-many-arguments,
    too-many-function-args,
    too-many-instance-attributes,
    useless-super-delegation,
