<?xml version="1.0" ?>
<settings version="1">
	<section id="addon">
		<category id="32101" label="32101">
			<group id="1" label="32131">
				<setting help="" id="API" label="32110" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control format="string" type="edit">
						<heading>32110</heading>
					</control>
				</setting>
				<setting help="" id="Location1" label="32111" type="string">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="API"/>
						</dependency>
					</dependencies>
					<control format="action" type="button">
						<data>RunScript(weather.weatherbit.io,Location1)</data>
					</control>
				</setting>
				<setting help="" id="Location2" label="32112" type="string">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="Location1"/>
						</dependency>
					</dependencies>
					<control format="action" type="button">
						<data>RunScript(weather.weatherbit.io,Location2)</data>
					</control>
				</setting>
				<setting help="" id="Location3" label="32113" type="string">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="Location2"/>
						</dependency>
					</dependencies>
					<control format="action" type="button">
						<data>RunScript(weather.weatherbit.io,Location3)</data>
					</control>
				</setting>
				<setting help="" id="Location4" label="32114" type="string">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="Location3"/>
						</dependency>
					</dependencies>
					<control format="action" type="button">
						<data>RunScript(weather.weatherbit.io,Location4)</data>
					</control>
				</setting>
				<setting help="" id="Location5" label="32115" type="string">
					<level>0</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="Location4"/>
						</dependency>
					</dependencies>
					<control format="action" type="button">
						<data>RunScript(weather.weatherbit.io,Location5)</data>
					</control>
				</setting>
				<setting help="" id="Location1deg" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition name="InfoBool" on="property">false</condition>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading/>
					</control>
				</setting>
				<setting help="" id="Location2deg" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition name="InfoBool" on="property">false</condition>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading/>
					</control>
				</setting>
				<setting help="" id="Location3deg" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition name="InfoBool" on="property">false</condition>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading/>
					</control>
				</setting>
				<setting help="" id="Location4deg" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition name="InfoBool" on="property">false</condition>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading/>
					</control>
				</setting>
				<setting help="" id="Location5deg" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition name="InfoBool" on="property">false</condition>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading/>
					</control>
				</setting>
			</group>
		</category>
		<category id="32104" label="32104">
			<group id="1" label="32135">
				<setting help="" id="MAPAPI" label="32110" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control format="string" type="edit">
						<heading>32110</heading>
					</control>
				</setting>
				<setting help="" id="WMaps" label="32130" type="boolean">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="MAPAPI"/>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting help="" id="Zoom" label="32128" parent="WMaps" type="integer">
					<level>0</level>
					<default>4</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="WMaps">true</condition>
						</dependency>
					</dependencies>
					<control format="integer" type="slider">
						<popup>false</popup>
					</control>
					<constraints>
						<minimum>1</minimum>
						<maximum>10</maximum>
					</constraints>
				</setting>
			</group>
		</category>
		<category id="32102" label="32102">
			<group id="1">
				<setting help="" id="LatLon" label="32121" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting help="" id="Debug" label="32129" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
