<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
		<setting id="banner" type="bool" label="32201" default="True"/>
		<setting id="characterart" type="bool" label="32202" default="True"/>
		<setting id="clearart" type="bool" label="32203" default="True"/>
		<setting id="logo" type="bool" label="32204" default="True"/>		
		<setting id="poster" type="bool" label="32205" default="True"/>
		<setting id="show_thumb" type="bool" label="32206" default="True"/>
		<setting id="download_thumb" type="bool" label="32207" default="False"/>
		<setting id="default_thumb" type="labelenum" label="32208" enable ="eq(-1,true)" default="0" values="Banner|Poster|ShowThumb"/>
	</category>
</settings>
