<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000"><!-- General -->
        <setting id="username" type="text" label="32002" default="" />
        <setting id="api_key" type="text" label="32003" default="" />
        <setting id="debug" type="bool" label="32008" default="false" />
    </category>
    <category label="32001"><!-- Scrobbling -->
        <setting id="scrobble_movie" type="bool" label="32004" default="true" />
        <setting id="scrobble_episode" type="bool" label="32005" default="true" />
        <setting id="scrobble_min_view_time" type="slider" label="32006" range="0,5,100" default="85" />
    </category>
</settings>
