<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category label="32001">
	   <setting id="token" type="text" label="token" default="" visible="false" />
	   <setting type="lsep" label="32301" />
	   <setting id="facebook" type="bool" label="32302" default="true" />
	   <setting id="twitter" type="bool" label="32303" default="true" />
	   <setting type="lsep" label="32401" />
	   <setting id="notifications" type="bool" label="32402" default="true" />
	   <setting id="notif_during_playback" type="bool" label="32403" default="true" />
	   <setting id="notif_scrobbling" type="bool" label="32404" default="true" />
	</category>
</settings>
