<settings>
	<category label="General">
		<setting id="rcb_logLevel" label="Log Level" type="labelenum" values="ERROR|WARNING|INFO|DEBUG" default="INFO"/>
		<setting id="rcb_cachingOption" label="Caching Option" type="labelenum" values="CACHEALL|CACHESELECTION|CACHEITEM|CACHEITEMANDNEXT" default="CACHEITEMANDNEXT"/>
		<setting id="rcb_saveViewStateOnExit" label="Save Viewstate On Exit" type="bool" default="true"/>
		<setting id="rcb_saveViewStateOnLaunchEmu" label="Save Viewstate On Launch Emu" type="bool" default="true"/>
	</category>
	
	<category label="Import Games">
		<setting id="rcb_fuzzyFactor" label="Game Matching Fuzzy Factor" type="enum" values="0.5|0.6|0.7|0.8|0.9|1.0" default="2"/>
		<setting id="rcb_createNfoWhileScraping" label="Create local nfo file while scraping" type="bool" default="true"/>
		<setting id="rcb_ignoreGamesWithoutDesc" label="Don't import games without description" type="bool" default="true"/>
		<setting id="rcb_ignoreGamesWithoutArtwork" label="Don't import games without artwork" type="bool" default="true"/>
		<setting id="rcb_enableFullReimport" label="Always rescan imported games" type="bool" default="false"/>	
	</category>
	
	<category label="Browse Games">
		<setting id="rcb_showEntryAllConsoles" label="Show Filter All Consoles" type="bool" default="true"/>
		<setting id="rcb_showEntryAllGenres" label="Show Filter All Genres" type="bool" default="true"/>
		<setting id="rcb_showEntryAllYears" label="Show Filter All Years" type="bool" default="true"/>
		<setting id="rcb_showEntryAllPublisher" label="Show Filter All Publishers" type="bool" default="true"/>
		<setting id="rcb_showEntryAllChars" label="Show Filter All Chars" type="bool" default="true"/>
		<setting id="rcb_preventUnfilteredSearch" label="Prevent Unfiltered Search" type="bool" default="false"/>		
	</category>
	
	<category label="Launch Games">
		<setting id="rcb_useEmulatorSolo" label="Use Emulator solo" value="false" type="bool" default="false"/>
		<setting id="rcb_escapeEmulatorCommand" label="Escape Emulator Cmd" value="false" type="bool" default="false"/>
	</category>
	
	<setting id="rcb_view_mode" visible="false" value="" type="text"/>

</settings>