<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>   
    <category label="30102">
        <setting id="smooth_scrolling" type="bool" label="30100" default="false"/>
        <setting id="save_lyrics" type="bool" label="30101" default="true"/>
        <setting id="show_embeded_lyrics" type="bool" label="30107" default="true"/>
        <setting id="save_embeded_lyrics" type="bool" visible= "eq(-1,true)" enable="eq(-1,true)" label="30108" default="false"/>
    </category>
    <category label="30109">
      <setting id="lyricsmode" type="bool" label="Lyrics Mode" default="true"/>
      <setting id="lyricstime" type="bool" label="lyrics.time" default="true"/>
      <setting id="lyricwiki" type="bool" label="LyricWiki" default="true"/>
    </category>
</settings>
