<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32004">
        <setting id="email" type="text" label="32002" default=""/>
        <setting id="password" type="text" option="hidden" label="32003" default=""/>
        <setting type="sep"/>
        <setting type="action" label="32005" action="RunScript(service.subtitles.ktuvit, 1,action=login)" option="close"/>
    </category>
</settings>
