<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting type="lsep" label="30901" />
	<setting id="Username" type="text" label="30902" default="" />
	<setting id="Password" type="text" option="hidden" label="30903" default="" />
	<setting id="watched-percent" type="labelenum" label="30904" default="2" values="70|80|90|100" />
</settings>
