<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>   
    <setting id="scraper" type="labelenum" label="30100" default="ttplayer" values="ttplayer|lyrdb|embedded" />
    <setting type="sep" />
    <setting id="save_lyrics" type="bool" label="30101" default="true"/>
    <setting id="lyrics_path" type="folder" source="files" label="30102" default="" />
    <setting id="compatible" type="bool" label="30103" default="false"/>
    <setting id="artist_folder" type="bool" label="30104" default="true"/>
    <setting type="sep" />
    <setting id="smooth_scrolling" type="bool" label="30105" default="true"/>
    <setting id="use_filename" type="bool" label="30106" default="false"/>
    <setting id="filename_format" type="enum" label="30107" default="0" lvalues="30108|30109|30110" />
</settings>
