<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>		
	<category label="30000">
		<setting label="30010" type="lsep"/>
		<setting id="startup-partymode" type="bool" label="30040" default="true"/>
		<setting id="delay-startup-partymode" type="slider" label="30041" subsetting="true" default="6" range="0,120" option="int" enable="eq(-1,true)"/>
		<setting label="30011" type="lsep"/>
		<setting id="start-on-screensaver-partymode" type="bool" label="30040" default="false"/>
		<setting id="avoid-on-pause-start-on-screensaver-partymode" type="bool" label="30042" subsetting="true" default="true" enable="eq(-1,true)"/>
		<setting label="30013" type="lsep"/>
		<setting id="startup-playlist" type="bool" label="30040" default="false"/>
		<setting type="action" label="30043" action="Skin.SetFile(Startup.Playlist.Path,,special://musicplaylists/)"/>
		<setting id="startup-playlist-path" type="text" label="$INFO[Skin.String(Startup.Playlist.Path)]" value="$INFO[Skin.String(Startup.Playlist.Path)]" enable="false"/>
		<setting label="30015" type="lsep"/>
		<setting id="startup-favourites" type="bool" label="30040" default="false"/>
		<setting type="action" label="30046" action="RunScript(script.favourites,property=Startup.Favourites)"/>
		<setting id="startup-favourites-path" type="text" label="$INFO[Skin.String(Startup.Favourites.Label)]" value="$INFO[Skin.String(Startup.Favourites.Path)]" enable="false"/>
	</category>
	<category label="30001">
		<setting label="30012" type="lsep"/>
		<setting id="visualisation-partymode" type="bool" label="30040" default="false"/>
		<setting id="delay-visualisation-partymode" type="slider" label="30041" subsetting="true" default="6" range="0,120" option="int" enable="eq(-1,true)"/>
		<setting label="30014" type="lsep"/>
		<setting id="volume-partymode" type="bool" label="30044" default="false"/>
		<setting id="volume-level-partymode" subsetting="true" type="slider" label="30045" default="100" range="0,100" option="int" enable="eq(-1,true)"/>
	</category>
</settings>
