<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
        <setting label="32100" type="enum" id="movementtype" default="1" lvalues="32101|32102|32103|32104"/>
		<setting label="32110" type="enum" id="movementspeed" subsetting="true" visible="eq(-1,1)" default="1" lvalues="32111|32112|32113"/>
		<setting label="32120" type="slider" id="stayinplace" subsetting="true" visible="eq(-2,0)" default="10" range="5,5,60" option="int"/>
        <setting label="32121" type="lsep" visible="eq(-3,2) | eq(-3,3)"/>		
		<setting label="32150" type="number" id="customx" subsetting="true" visible="eq(-4,3)" default="1" option="int"/>
		<setting label="32160" type="number" id="customy" subsetting="true" visible="eq(-5,3)" default="1" option="int"/>
		<setting id="timeformat" type="select" label="32130" default="0" lvalues="32131|32132|32133"/>
		<setting id="dateformat" type="select" label="32140" default="1" lvalues="32141|32142|32143|32144"/>
    </category>
    <category label="32005">
		<setting label="32200" type="bool" id="additionalinformation" default="false"/>
		<setting label="32210" type="slider" id="infoswitch" subsetting="true" visible="eq(-1,true)" default="5" range="5,5,30" option="int"/>		
		<setting label="32220" type="bool" id="nowplayinginfoshow" subsetting="true" visible="eq(-2,true)" default="false"/>
		<setting label="32230" type="bool" id="weatherinfoshow" subsetting="true" visible="eq(-3,true)" default="false"/>
		<setting id="weathericonformat" type="select" label="32240" subsetting="true" visible="eq(-4,true)" default="1" lvalues="32241|32242|32243|32244|32245"/>		
        <setting label="32250" type="bool" id="albumartshow" subsetting="true" visible="eq(-5,true)" default="false"/>
		</category>	
    <category label="32010">
		<setting label="32300" type="bool" id="randomcolor" default="false"/>	
		<setting id="hourcolor" type="select" label="32310" visible="eq(-1,false)" default="0" lvalues="32311|32312|32313|32314|32315|32316"/>
		<setting id="coloncolor" type="select" label="32320" visible="eq(-2,false)" default="0" lvalues="32311|32312|32313|32314|32315|32316"/>
		<setting id="minutecolor" type="select" label="32330" visible="eq(-3,false)" default="0" lvalues="32311|32312|32313|32314|32315|32316"/>
		<setting id="ampmcolor" type="select" label="32340" visible="eq(-4,false)" default="0" lvalues="32311|32312|32313|32314|32315|32316"/>
		<setting id="datecolor" type="select" label="32350" visible="eq(-5,false)" default="0" lvalues="32311|32312|32313|32314|32315|32316"/>
		<setting id="informationcolor" type="select" label="32360" visible="eq(-6,false)" default="0" lvalues="32311|32312|32313|32314|32315|32316"/>
		<setting id="iconcolor" type="select" label="32370" visible="eq(-7,false)" default="0" lvalues="32311|32312|32313|32314|32315|32316"/>
		</category>	
    <category label="32015">
		<setting label="32400" type="bool" id="randomtr" default="false"/>
		<setting id="hourtr" type="select" label="32410" visible="eq(-1,false)" default="0" lvalues="32411|32412|32413|32414|32415|32416|32417|32418|32419|32420|32421"/>
		<setting id="colontr" type="select" label="32430" visible="eq(-2,false)" default="0" lvalues="32411|32412|32413|32414|32415|32416|32417|32418|32419|32420|32421"/>
		<setting id="minutetr" type="select" label="32440" visible="eq(-3,false)" default="0" lvalues="32411|32412|32413|32414|32415|32416|32417|32418|32419|32420|32421"/>
		<setting id="ampmtr" type="select" label="32450" visible="eq(-4,false)" default="0" lvalues="32411|32412|32413|32414|32415|32416|32417|32418|32419|32420|32421"/>
		<setting id="datetr" type="select" label="32460" visible="eq(-5,false)" default="0" lvalues="32411|32412|32413|32414|32415|32416|32417|32418|32419|32420|32421"/>
		<setting id="informationtr" type="select" label="32470" visible="eq(-6,false)" default="0" lvalues="32411|32412|32413|32414|32415|32416|32417|32418|32419|32420|32421"/>
		<setting id="icontr" type="select" label="32480" visible="eq(-7,false)" default="0" lvalues="32411|32412|32413|32414|32415|32416|32417|32418|32419|32420|32421"/>
		</category>
    <category label="32020">
		<setting id="shadowformat" type="select" label="32500" default="0" lvalues="32501|32502|32503|32504"/>
		<setting id="backgroundchoice" type="enum" label="32510" default="0" lvalues="32511|32512|32513"/>
		<setting id="image" type="select" label="32520" visible="eq(-1,0)" default="5" lvalues="32311|32312|32313|32314|32315|32316"/>
        <setting label="32531" type="lsep" visible="eq(-2,1)"/>
		<setting label="32530" type="file" id="file" subsetting="true" visible="eq(-3,1)" default="images" source="pictures"/>
		<setting label="32540" type="folder" id="folder" subsetting="true" visible="eq(-4,2)" default="images" source="pictures"/>
		<setting label="32550" type="bool" id="randomimages" subsetting="true" visible="eq(-5,2)" default="false"/>
		<setting id="imagetimer" type="select" label="32560" subsetting="true" visible="eq(-6,2)" default="0" lvalues="32561|32562|32563|32564|32565|32566|32567|32568|32569|32570|32571|32572"/>
	</category>
    <category label="32025">
        <setting id="zoomlevel" type="select" label="32600" default="100" values="100|110|120|130|140|150|160|170|180|190|200" />		
	</category>		
</settings>