<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32002">
		<setting id="useEBookFolder" type="bool" label="32024" default="true"/>
		<setting id="eBooksFolder" visible="eq(-1,true)" subsetting="true" label="32005" type="folder"/>
		<setting id="useOPDS" type="bool" label="32025" default="false"/>
		<setting id="opdsUrl" type="text" visible="eq(-1,true)" subsetting="true" label="32026" default="localhost:8080" />
		<setting id="fallbackCoverImage" label="32015" type="image"/>
		<setting id="onlyShowWholeBookIfChapters" type="bool" label="32017" default="true"/>
		<setting id="markReadWhenNavToNextChapter" type="bool" label="32018" default="false"/>
		<setting id="useWhiteBackground" type="bool" label="32022" default="false"/>
		<setting id="usePageNumbersForPdf" type="bool" label="32021" default="false"/>
	</category>
	<category label="32007">
		<setting label="32008" type="action" action="RunScript($CWD/cleancovercache.py)"/>
		<setting label="32013" type="action" action="RunScript($CWD/deletedb.py)"/>
    	<setting label="32003" type="lsep"/>
    	<setting id="logEnabled" type="bool" label="32004" default="false"/>
	</category>
	<category label="32027">
		<setting id="epubPreferenceOrder" type="enum" label="32028" lvalues="32031|32032|32033" default="0" />
		<setting id="mobiPreferenceOrder" type="enum" label="32029" lvalues="32031|32032|32033" default="1" />
		<setting id="pdfPreferenceOrder" type="enum" label="32030" lvalues="32031|32032|32033" default="2" />
	</category>
</settings>
