<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="32000">
    <setting id="add_missing_submit" type="bool" label="32001" default="true" />
    <setting id="goto_pre_filled" type="bool" label="32002" default="false" />
    <setting id="simple_controls" type="bool" label="32003" />
    <setting id="inline_frames" type="bool" label="32004" default="false"/>
    <setting id="frames_at_end" type="bool" label="32005" subsetting="true" default="false"  enable="eq(-1,true)"/>
  </category>
</settings>