<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30003">
        <setting id="showPostPlay" type="bool" label="30022" default="true" visible="true" enable="true"/>
        <setting id="showPostPlayPreview" type="bool" label="30025" default="true" visible="eq(-1,true)" enable="true"/>
        <setting id="showPostPlayPlot" type="bool" label="30023" default="true" visible="eq(-2,true)" enable="true"/>
        <setting id="autoPlaySeasonTime" type="number" label="30001" default="30" visible="true" enable="true"/>
        <setting id="autoPlayMode" type="enum" label="30005" values="Play|Don't Play" default="0"/>
        <setting id="playedInARow" type="number" label="30009" default="3" visible="true" enable="true"/>
        <setting id="includeWatched" type="bool" label="30013" default="false" visible="true" enable="true"/>
        <setting id="displayRandomUnwatched" type="bool" label="30016" default="false" visible="true" enable="true"/>
        <setting id="displayRandomUnwatchedTime" type="number" label="30015" default="600" visible="eq(-1,true)" enable="true"/>
    </category>
    <category label="30004">
        <setting id="disableNextUp" type="bool" label="30014" default="false" visible="true" enable="true"/>
        <setting id="logLevel" type="enum" label="30002" values="None|Info|Debug" default="0"/>
        <setting id="shortPlayMode" type="bool" label="30017" default="false" visible="true" enable="true"/>
        <setting id="shortPlayLength" type="number" label="30018" default="10" visible="true" enable="true"/>
        <setting id="shortPlayNotification" type="bool" label="30019" default="true" visible="true" enable="true"/>
    </category>
</settings>
